{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'termsgen/return and refund/Wireframe TermsGen/FavIcon secondary.svg'%}">
    <link rel="stylesheet" href="{% static 'termsgen/return and refund/4.css'%}">
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    
</head>

<body>
    <div class="container">
        <nav class="menu">
            <figure class="logo"><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Primary 1.svg'%}" alt="logo"></figure>
            <ul class="menunav">
                <li><a href="#">Home</a></li>
                <li class="drop"><a href="#">Generate </a></li>
                <!-- <ul class="dropdw">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Return and refund policy</a></li>
                    <li><a href="#">Terms and conditions</a></li> 
                </ul></li> -->
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <figure id="burger"><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Frame 6379.svg'%}" alt=""></figure>
        </nav>
        <div class="pagename">
            <h1>Preview your document</h1>
        </div>
        <div class="status">
            <h2>Your document is ready</h2>
        </div>
    
        <div class="pagenum">
            <div class="page i"><h3>1</h3><small>Business Information</small></div>
            <div class="page ii"><h3>2</h3><small>Refund and Shipping</small></div>
            <div class="page iii"><h3>3</h3><small>Additional Information</small></div>
            <div class="page iv"><h3>4</h3><small>Preview Document</small></div>
           
            <div class="line"></div>
        </div>
        <div class="document">
            <!-- javascript for the document -->
            <div class="document_page" id="docPage">
                <h1>Return and Refund Policy</h1>
                <p>Updated at <span class="update"> </span></p>
                <br>
                <h2>Definitions and key terms</h2>
                <p>To help explain as clearly as possible in this Return and Refund Policy every time any of there terms are referenced, are stricly defined as: 
                    <br>
                <div class="ul">
                    <ul>
                        <li><strong>Company:</strong> When this policy mentions "Company," "we," "us," or "our," it refers to <span class="companyname"> </span> </span>, <span class="comAddress"> </span> that is responsible for your information under this Return and Refund Policy</li>
                        <li><strong>Customer:</strong> refers to the company, organization or person that signs up to use the <span class="appName"> </span>Service to manage the relationships with your consumers or service users.</li>
                        <li><strong>Device:</strong> any internet connected device such as phone, tablet, computers or any other devices that can be used to visit<span class="appName"> </span>and use the serives. </li>
                        <li><strong>Service:</strong> refers to the service provided by <span class="appName"> </span> as described in the relative terms (if available) and on this platform.</li>
                        <li><strong>Website:</strong><span class="appName"> </span>'s site, which can be accessed via this URL:<span class="WebName"></span> </li>
                        <li><strong>You:</strong>a person or entity that is registered with <span class="appName"> </span> to use the Services. </li>
                    </ul>
                    </div>
                </p>
                <h2>Return and Refund Policy</h2>
                <p>Thanks for shopping at <span class="appName"> </span>. We appreciate the fact that you like to buy the stuff we build. We also want to make sure you have a rewarding experience while you're exploring, evaluating, and purchasing our products.</p>
                <br>
                <p>As with any shopping experience, there are terms and conditions that apply to transactions at <span class="appName"> </span>. We'll be as brief as our attorneys will allow. The main thing to remember is that by placing an order or making a purchase at <span class="appName"> </span>, you agree to the terms set forth below along with <span class="appName"> </span>'s Privacy Policy.</p>
                <br>
                <p>If there's something wrong with the product you bought, or if you are not happy with it, you have () to issue a refund and return your item.</p>
                <br>
                <p>If you would like to return a product, the only way would be if you follow the next guidelines:</p>
                <br>
                <ul id="guidelines">
                    <li  id="product123">----- </li>
                    <!-- <li  class="product124"> </li> -->
                    <li  id="product125">----- </li>
                    <li id="product126">----- </li>
                    <li  id="product127">-----</li>
                    <li id="product128">----- </li>
                    <!-- <li  class="product129"> </li> -->
                    <li  id="product1000">------- </li>
                    <li  id="product1001">------- </li>
                    <li  id="product1002">------- </li>
                    <li  id="product1003">------- </li>
                    <li  id="product1004">------- </li>
                

                    
                 </ul>
               
                <h2>Refunds</h2>
                <p>We at <span class="appName"> </span> commit ourselves to
                    serving our customers with the best
                    products. Every single product that you
                    choose is thoroughily inspected,
                    checked for defects and packaged with
                    utmost care. We do this to ensure that
                    you fall in love with our products.
                    </p>
                    <br>
                    <p>Sadly, there are times when we may not

                        have the product(s) that you choose in
                        
                        stock, or may face some issues with
                        
                        our inventory and quality check. In such
                        
                        cases, we may have to cancel your
                        
                        order. You will be intimated about it in
                        
                        advance so that you don't have to worry
                        
                        unnecessarily about your order. If you
                        
                        have purchased via Online payment
                        
                        (not Cash on Delivery), then you will be
                        
                        refunded once our team confirms your
                        
                        request.
                        </p>
                        <br>
                        <p>We carry out thorough quality check

                            before processing the ordered item. We
                            
                            take utmost care while packing the
                            
                            product. At the same time we ensure
                            
                            that the packing is good such that the items won't get damaged during transit.
                            
                            Please note that <span class=”appName> </span> is not
                            
                            liable for damages that are caused to
                            
                            the items during transit or
                            
                            transportation.
                            </p>
                            <br>
                            <p>We will revise your returned product as

                                soon as we receive it and if it follows
                                
                                the guidelines addressed above, we will
                                
                                proceed to issue a refund of your
                                
                                purchase. Your refund may take a
                                
                                couple of days to process but you will
                                
                                be notified when you receive your
                                
                                money.
                                </p>
                                <h2>Shipping</h2>
                                    <p> <span id="shipping"> </span> .</p>

                                    <h2>Your Consent</h2>

                                    <p>By using our platform, registering an

                                    account, or making a purchase, you

                                    hereby consent to our Return & Refund

                                    Policy and agree to its terms.</p>

                                    <h3>Changes To Our Return & Refund Policy</h3>

                                    <p>Should we update, amend or make any

                                    changes to this document so that they

                                    accurately reflect our Service and

                                    policies. Unless otherwise required by

                                    law, those changes will be prominently

                                    posted here. Then, if you continue to

                                    use the Service, you will be bound by

                                    the updated Return & Refund Policy. If

                                    you do not want to agree to this or any

                                    updated Return & Refund Policy, you

                                    can delete your account.</p>

                                    <h2>Contact Us</h2>

                                    <p>If, for any reason, You are not

                                    completely satisfied with any good or

                                    service that we provide, don't hesitate

                                    to contact us and we will discuss any of

                                    the issues you are going through with

                                    our product.
                                    <div class="ul">
                                        <ul class="contactinfo">
                                            
                                        </ul>
                                        </div>
                                    </div>
                                    </p>

            </div>
           
        </div>

        <div class="language">
            <label for="language"><span>In what Language would you like to download your file?</span></label>
            <br>
            <br>
            <select id="language" name="language">
                <option>Select your preferred language</option>
                <option value="ENG">English</option>
                <option value="Fre">French</option>
                <option value="Spa">Spanish</option>
            </select>
            <div class="options">
                <div class="export">
                    <div class="exportoverlay">
                        <div class="overtop">
                            <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Frame 6366.svg'%}" alt="emailsent" >
                        </div>
                            <div class="overdown">
                                <div class="overcontext">
                                        <h4>Choose the format you wish to export your file:</h4>
                                    <div class="fileformat">
                                        <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Embed.svg'%}" alt="pdf"  id="pdfff" onclick="PDFgen()">
                                        <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Embed-1.svg'%}" alt="txt">
                                        <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Embed-2.svg'%}" alt="docx" onclick="Export2Word('document','word-content')">
                                        <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Embed html.svg'%}" alt="HTML" onclick="window.print()">
                                    </div>
                                </div>
                            </div>
                    </div>
                <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Export44.svg'%}" alt="export" ></div>
                
                <div><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Export-144.svg'%}" alt="share"></div>
                <div><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Embed44.svg'%}" alt="embed"></div>
                <div id="download2"><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Download44.svg'%}" alt="download" id="downloadbtn" ></div>
                
            </div>
            <form action="./Additional Information.html">
                <button type="submit" class="back">Back</button>
            </form>
        </div>
        
    </div>
    <script src="{% static 'termsgen/return and refund/return policy.js'%}"></script>
    <script>

        myappend("product123", getCookie("q"));
        myappend("product125", getCookie("r"));
        myappend("product126", getCookie("sist"));
        myappend("product127", getCookie("tinn"));
        myappend("product128", getCookie("u"));
        myappend("shipping", getCookie("v"));
        
        
        myappend("product1000", getCookie("a"));
        myappend("product1001",getCookie("b"));
        myappend("product1002", getCookie("c"));
        myappend("product1003",getCookie("d"));
        myappend("product1004",getCookie("e"));
        </script>
    <script>

        const pdfbut = document.querySelector("#pdfff")

        


        function PDFgen() {
            const element = document.getElementById("docPage");
            
            html2pdf()
            .from(element)
            .save();
        }
       
        {% comment %} function Export2Word(element, filename = ''){ {% endcomment %}
   
}
    </script>
    

</body>
</html>