{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refund and Shipping Information</title>
    <link rel="stylesheet" href="{% static 'termsgen/Refund and Shipping Information.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'termsgen/return and refund/Wireframe TermsGen/FavIcon secondary.svg'%}">
</head>

<body>
    <div class="container">
        <div class="nav">
          
            <div class="nav1">
                <div>
                    <div class="page1">1</div>
                    <div><p>Business Information</p></div>
                </div>
                
                <div class="line i1"></div>
                <div>
                    <div class="page2">2</div>
                    <div><p>Refund and Shipping Information</p></div>
                 </div>
                <div class="line ii2"></div>
                <div>
                    <div class="page3">3</div>
                    <div><p>Additional Information</p></div>
                </div>
                <div class="line iii3"></div>
                <div>
                    <div class="page4">4</div>
                    <div><p>Preview Document</p></div>
                </div>
             
               
            </div>
            
        </div>
        <div class="workbody">
            <div class="menu">
                <div class="logoxx">
                    <img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Primary 1.svg'%}" alt="logo" class="logo">
                </div>
                <ul class="menunav">
                    <li><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/x.svg' %}" alt="exit" id="exitt"></li>
                    <li><a href="#">Home</a></li>
                    <li class="drop"><a href="#">Generate </a></li>
                    <!-- <ul class="dropdw">
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Return and refund policy</a></li>
                        <li><a href="#">Terms and conditions</a></li> 
                    </ul></li> -->
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contant Us</a></li>
                </ul>
                <figure id="burger"><img src="{% static 'termsgen/return and refund/Wireframe TermsGen/Frame 6379.svg'%}" alt=""></figure>
            </div>
        
            <div class="details">
                <div class="box">
                    <div class="top">
                        <h1>Enter Refund and Shipping Information</h1>
                        <button type="button"  class="preview" onclick="myfunction()"> Preview</button>
                        <div class="previewpage">
                        <h1>Return and Refund Policy</h1>
                        <button type="button" class="close">Close</button>
                       
                            <p>Updated at <span class="update"> </span></p>
                            <br>
                            <h2>Definitions and key terms</h2>
                            <p>To help explain as clearly as possible in this Return and Refund Policy every time any of there terms are referenced, are stricly defined as: 
                                <br>
                            <div class="ul">
                                <ul>
                                    <li><strong>Company:</strong> When this policy mentions "Company," "we," "us," or "our," it refers to <span class="companyname"> </span> </span>, <span class="comAddress"> </span> that is responsible for your information under this Return and Refund Policy</li>
                                    <li><strong>Customer:</strong> refers to the company, organization or person that signs up to use the <span class="appName"> </span>Service to manage the relationships with your consumers or service users.</li>
                                    <li><strong>Device:</strong> any internet connected device such as phone, tablet, computers or any other devices that can be used to visit<span class="appName"> </span>and use the serives. </li>
                                    <li><strong>Service:</strong> refers to the service provided by <span class="appName"> </span> as described in the relative terms (if available) and on this platform.</li>
                                    <li><strong>Website:</strong><span class="webname4"> </span>'s site, which can be accessed via this URL:<span class="WebName"></span> </li>
                                    <li><strong>You:</strong>a person or entity that is registered with <span class="appName"> </span> to use the Services. </li>
                                </ul>
                                </div>
                            </p>
                            <h2>Return and Refund Policy</h2>
                            <p>Thanks for shopping at <span class="appName"> </span>. We appreciate the fact that you like to buy the stuff we build. We also want to make sure you have a rewarding experience while you're exploring, evaluating, and purchasing our products.</p>
                            <br>
                            <p>As with any shopping experience, there are terms and conditions that apply to transactions at <span class="appName"> </span>. We'll be as brief as our attorneys will allow. The main thing to remember is that by placing an order or making a purchase at <span class="appName"> </span>, you agree to the terms set forth below along with <span class="appName"> </span>'s Privacy Policy.</p>
                            <br>
                            <p>If there's something wrong with the product you bought, or if you are not happy with it, you have () to issue a refund and return your item.</p>
                            <br>
                            <p>If you would like to return a product, the only way would be if you follow the next guidelines:</p>
                            <br>
                            <div class="ul">
                                <ul id="guidelines">
                                    <li  id="product123">----- </li>
                                    <!-- <li  class="product124"> </li> -->
                                    <li  id="product125">----- </li>
                                    <li id="product126">----- </li>
                                    <li  id="product127">-----</li>
                                    <li id="product128">----- </li>
                                    <!-- <li  class="product129"> </li> -->
                                    <li  id="product1000">------- </li>
                                    <li  id="product1001">------- </li>
                                    <li  id="product1002">------- </li>
                                    <li  id="product1003">------- </li>
                                    <li  id="product1004">------- </li>
                                
    
                                    
                                 </ul>
                            </div>
                            <h2>Refunds</h2>
                            <p>We at <span class="appName"></span> commit ourselves to
                                serving our customers with the best
                                products. Every single product that you
                                choose is thoroughily inspected,
                                checked for defects and packaged with
                                utmost care. We do this to ensure that
                                you fall in love with our products.
                                </p>
                                <br>
                                <p>Sadly, there are times when we may not

                                    have the product(s) that you choose in
                                    
                                    stock, or may face some issues with
                                    
                                    our inventory and quality check. In such
                                    
                                    cases, we may have to cancel your
                                    
                                    order. You will be intimated about it in
                                    
                                    advance so that you don't have to worry
                                    
                                    unnecessarily about your order. If you
                                    
                                    have purchased via Online payment
                                    
                                    (not Cash on Delivery), then you will be
                                    
                                    refunded once our team confirms your
                                    
                                    request.
                                    </p>
                                    <br>
                                    <p>We carry out thorough quality check

                                        before processing the ordered item. We
                                        
                                        take utmost care while packing the
                                        
                                        product. At the same time we ensure
                                        
                                        that the packing is good such that the items won't get damaged during transit.
                                        
                                        Please note that <span class=”appName> </span> is not
                                        
                                        liable for damages that are caused to
                                        
                                        the items during transit or
                                        
                                        transportation.
                                        </p>
                                        <br>
                                        <p>We will revise your returned product as

                                            soon as we receive it and if it follows
                                            
                                            the guidelines addressed above, we will
                                            
                                            proceed to issue a refund of your
                                            
                                            purchase. Your refund may take a
                                            
                                            couple of days to process but you will
                                            
                                            be notified when you receive your
                                            
                                            money.
                                            </p>
                                            <h2>Shipping</h2>
                                                <p> <span id="shipping"> </span> .</p>

                                                <h2>Your Consent</h2>

                                                <p>By using our platform, registering an

                                                account, or making a purchase, you

                                                hereby consent to our Return & Refund

                                                Policy and agree to its terms.</p>

                                                <h3>Changes To Our Return & Refund Policy</h3>

                                                <p>Should we update, amend or make any

                                                changes to this document so that they

                                                accurately reflect our Service and

                                                policies. Unless otherwise required by

                                                law, those changes will be prominently

                                                posted here. Then, if you continue to

                                                use the Service, you will be bound by

                                                the updated Return & Refund Policy. If

                                                you do not want to agree to this or any

                                                updated Return & Refund Policy, you

                                                can delete your account.</p>


                        </div>
                    </div>
                    <div class="main">
                        <div class="questions">
                            <div class="part1">
                                <div class="platform-details">
                                    <input type="radio" name="platform" id="dot-1">
                                    <input type="radio" name="platform" id="dot-2">
                                    <input type="radio" name="platform" id="dot-3">
                                    <span class="platform-title">Is your platform product or service based?</span>
                                    <div class="category">
                                        <label for="dot-1">
                                            <span class="dot one"></span>
                                            <span class="platform">Product</span>
                                        </label>
                                        <label for="dot-2">
                                            <span class="dot two"></span>
                                            <span class="platform">Service</span>
                                        </label>
                                        <label for="dot-3">
                                            <span class="dot three"></span>
                                            <span class="platform">Both</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="producttype-details">
                                    <input type="radio" name="producttype" id="dot-4">
                                    <input type="radio" name="producttype" id="dot-5">
                                    <input type="radio" name="producttype" id="dot-6">
                                    <span class="producttype-title">Is your product/service digital or physical?</span>
                                    <div class="category">
                                        <label for="dot-4">
                                            <span class="dot four"></span>
                                            <span class="producttype">Digital</span>
                                        </label>
                                        <label for="dot-5">
                                            <span class="dot five"></span>
                                            <span class="producttype">Physical</span>
                                        </label>
                                        <label for="dot-6">
                                            <span class="dot six"></span>
                                            <span class="producttype">Both</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="refund-details">
                                    <input type="radio" name="refund" id="dot-7">
                                    <input type="radio" name="refund" id="dot-8">
                                    <span class="refund-title">Do you offer refunds on products/ services provided</span>
                                    <div class="category">
                                        <label for="dot-7">
                                            <span class="dot seven"></span>
                                            <span class="refund">Yes</span>
                                        </label>
                                        <label for="dot-8">
                                            <span class="dot eight"></span>
                                            <span class="refund">No</span>
                                        </label>
                                
                                    </div>
                                </div>
                                
                            </div>
                            <div class="part2">
                                <div class="discount-details">
                                    <input type="radio" name="discount" id="dot-9">
                                    <input type="radio" name="discount" id="dot-10">
                                    <span class="discount-title">Do you offer refunds on discounted products/services?</span>
                                    <div class="category">
                                        <label for="dot-9">
                                            <span class="dot nine"></span>
                                            <span class="discount">Yes</span>
                                        </label>
                                        <label for="dot-10">
                                            <span class="dot ten"></span>
                                            <span class="discount">No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="invalid-details">
                                    <input type="radio" name="invalid" id="dot-11">
                                    <input type="radio" name="invalid" id="dot-12">
                                    <input type="radio" name="invalid" id="dot-13">
                                    <input type="radio" name="invalid" id="dot-14">
                                    <span class="invalid-title">How long does it take before your refund policy becomes invalid?</span>
                                    <div class="category">
                                        <label for="dot-11">
                                            <span class="dot eleven"></span>
                                            <span class="invalid">1 Week</span>
                                        </label>
                                        <label for="dot-12">
                                            <span class="dot twelve"></span>
                                            <span class="invalid">2 Week</span>
                                        </label>
                                        <label for="dot-13">
                                            <span class="dot thirteen"></span>
                                            <span class="invalid">1 Month</span>
                                        </label>
                                        <label for="dot-14">
                                            <span class="dot fourteen"></span>
                                            <span class="invalid">Anytime</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="shipping-details">
                                    <input type="radio" name="shipping" id="dot-15">
                                    <input type="radio" name="shipping" id="dot-16">
                                    <span class="shipping-title">Does the company or customer bear the cost of shipping in return?</span>
                                    <div class="category">
                                        <label for="dot-15">
                                            <span class="dot fifteen"></span>
                                            <span class="shipping">Yes, the company bears all cost of shipping in return</span>
                                        </label>
                                        <label for="dot-16">
                                            <span class="dot sixteen"></span>
                                            <span class="shipping" value="The customer bears all cost of shipping in return">No, the customer bears all cost of shipping in return</span>
                                        </label>
                                
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="down">
                            <form action="./index.html">
                            <button type= "submit" class="back">
                                <table>
                                    <tr>
                                        <th> <img src="./Wireframe TermsGen/arrow-left.svg" alt="arrow"></th>
                                        <td>Back</td>
                                    </tr>
                                </table>
                               </button>
                            </form>
                            <form action="./Additional Information.html">
                            <button type= "submit" class="continue" id="continue2" onclick="myfunction()"> Continue </button>
                        </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'termsgen/return and refund/return policy.js'%}"></script>
    <script>
        
    const howdiv5 = document.querySelector(".preview");
    const howdiv6 = document.querySelector(".close");
    const ilist6 = document.querySelector(".previewpage");
    
 
howdiv5.onclick = function() {
    ilist6.style.display = "block";
};
howdiv6.onclick = function() {
    ilist6.style.display = "none";
};

// const continue2 = document.querySelector("#continue2")
body3.onload = loadcookie2;

function loadcookie2(){
    setCookie("dot1", "We offer Product" )
    setCookie("dot2", "We provide Service")
    setCookie("dot3", "We offer both Product/Services")
    setCookie("dot4", "We are Digital")
    setCookie("dot5", "We are Physical")
    setCookie("dot6", "We are Both Physical and Digital")
    setCookie("dot700", "Yes we offer refunds on our goods")
    setCookie("dot800", "No we offer refunds on our goods")
    setCookie("dot900", "Yes we offer refunds on our discounted")
    setCookie("dot1000", "No, we don't offer refunds on our discounted")
    setCookie("dot11", "Item to be returned must not exceed one week ")
    setCookie("dot12", "Item to be returned must not exceed two weeks ")
    setCookie("dot13", "Item to be returned must not exceed one month ")
    setCookie("dot14", "Item can be returned anytime")
    setCookie("dot15", "The Company bears all cost of shipping in return")
    setCookie("dot16", "The Customer bears all cost of shipping in return")
};



    </script>

</body>
</html>