

/* =============
    global styles
===============*/
body{
    margin: 0;
    background-color: #F9F6EE;
}
ul{
    list-style: none;
    padding-left: 0px;
}







/* =============
    typography
===============*/
body{
    font-family: Poppins;
    font-weight: 500;
    color: #202020;
}

h2{
    font-weight: 700;
    font-size: 56px;
}

h3{
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

p{
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.subheader{
    font-weight: 400;
    font-size: 40px;
}

a{
    font-size: 1rem;
    color: #2B80F7;
    text-decoration: none;
    white-space: nowrap;
}

.footer-head{
    font-weight: 400;
    font-size: 24px;
    color: #9F9F9F;
}

.policy{
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

li{
    font-size: 20px;
    color: #FFFFFF;
}









/* =============
    layout
============ */
header{
    background-color: #DCEBFF;
    /* height: 498px; */
}

nav{
    background-color: #DCEBFF;
}

.nav-container{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
}

.logo{
    position: relative;
    width: 10%;
    /* min-width: 10%; */
    max-height: 56px;
}

.logo-image{
    position: absolute;
    width: 100%;
    min-width: 95%;
    top: 30%;
}

.generate-about-contact{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-left: 120px; */
    /* margin-right: 20px; */
}

.dropdown{
    position: relative;
}

.dropdown img{
    position: absolute;
    top: 43%;
    left: 110%;
}

.dropdown-menu{
    position: absolute;
    top: calc(100% + .5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00337B;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    padding: 24px 40px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 100;
}


.dropdown.active > .link, .link:hover{
    color: #FFFFFF
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active img{
    transform: rotate(180deg);
}

.link{
    all: unset;
    font-size: 24px;
    color: #FFFFFF;
    white-space: nowrap;
    cursor: pointer;
}

.products{
    position: absolute;
    margin: 0px 80px 0px 80px;
    padding-bottom: 96px;
    border-radius: 16px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    top: 249px;
    background-color: #FFFFFF;
}

.header{
    padding: 64px 80px 0px 80px;
}

.registration-buttons{
    display: flex;
    gap: 10px;
}

.product-cards{
    margin: 0px 80px 0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
}

.product{
    width: 46%;
}

.product-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 272px;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 16px;
    transition: 0.5s;
}

.product-img-div:hover{
    border: 1px solid #0055CC;
}

.space{
    height: 1700px;
}

footer{
    background-color: #00337B;
    max-height: 580px;
    top: 1500px;
    padding-bottom: 96px;
}

.footer-container{
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 148px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.footer-products{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footer-company{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-support{
    display: flex;
    flex-direction: column;
    flex: 1;
}








/* ============
    components
============ */
button{
    padding: 16px 32px 16px 32px;
    border: 0;
    border-radius: 8px;
}

#sign-up{
    background-color: #2B80F7;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    padding: 12px 32px 12px 32px;
    cursor: pointer;
}

#log-in{
    background-color: #DCEBFF;
    border: 1px solid #2B80F7;
    font-weight: 500;
    font-size: 16px;
    color: #2B80F7;
    cursor: pointer;
}







/* ==============================
    Other minor tweaks and adjustments
============================ */

h2{
    padding: 0px;
    margin: 0px;
}
.subheader{
    padding: 0px;
    margin: 32px 0px 72px 0px;
}
li{
    padding: 7px 0 7px 0;
}

