

/* =============
    global styles
===============*/
body{
    margin: 0;
    background-color: #F9FBFF;
}
ul{
    list-style: none;
    padding-left: 0px;
}







/* =============
    typography
===============*/
body{
    font-family: Poppins;
    font-weight: 500;
    color: #202020;
}

h2{
    font-weight: 700;
    font-size: 56px;
}

h3{
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

p{
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

.subheader{
    font-weight: 400;
    font-size: 40px;
}

a{
    font-size: 1rem;
    color: #00337B;
    text-decoration: none;
    white-space: nowrap;
}

.footer-head{
    font-weight: 400;
    font-size: 24px;
    color: #9F9F9F;
}

.policy{
    margin-top: 2rem;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

li{
    font-size: 20px;
    color: #FFFFFF;
}









/* =============
    layout
============ */
header{
    background-color: #F9FBFF;
    /* height: 498px; */
}

nav{
    background-color: #F9FBFF;
}

.nav-container{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
}

.logo{
    position: relative;
    width: 10%;
    /* min-width: 10%; */
    max-height: 56px;
}

.logo-image{
    position: absolute;
    width: 100%;
    min-width: 95%;
    top: 30%;
}

.generate-about-contact{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.products{
    position: absolute;
    margin: 0px 80px 0px 80px;
    padding-bottom: 96px;
    border-radius: 16px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    top: 249px;
    background-color: #FFFFFF;
}

.header{
    padding: 64px 80px 0px 80px;
}

.registration-buttons{
    display: flex;
    gap: 10px;
}

.product-cards{
    margin: 0px 80px 0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px;
}

.product{
    width: 46%;
}

.product-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 272px;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 16px;
    transition: 0.5s;
    position: relative;
}

.product-img-div:hover{
    border: 1px solid #0055CC;
}

.product-link{
    position: relative;
    position: absolute;
    bottom: 1em;
    right: 4em;
    font-weight: 500;
    font-size: 1.2rem;
    color: #0055CC;
}

.space{
    height: 1700px;
}

footer{
    background-color: #00337B;
    max-height: 580px;
    top: 1500px;
    padding-bottom: 96px;
}

.footer-container{
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 148px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.footer-products{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footer-company{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-support{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modal{
    border: 1px solid rebeccapurple;
    background-color: #F9FBFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    display: none;
}

.content{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    padding-right: 1.5em;
    box-shadow: 8px 4px 16px rgba(0, 0, 0, 0.3);
    max-height: 600px;
    overflow-y: auto;
}

.topic{
    margin: auto;
    font-weight: 600;
    font-size: 2rem;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.modal-button{
    margin-top: 40px
}





/* ============
    components
============ */
button{
    padding: 16px 32px 16px 32px;
    border: 0;
    border-radius: 8px;
}

#sign-up{
    background-color: #2B80F7;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    padding: 12px 32px 12px 32px;
    cursor: pointer;
}

#log-in{
    background-color: #DCEBFF;
    border: 1px solid #2B80F7;
    font-weight: 500;
    font-size: 16px;
    color: #2B80F7;
    cursor: pointer;
}

a img{
    position: absolute;
    bottom: 0.25em;
    right: -1.5em;
}

.m-button{
    background-color: #0055CC;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 8px;
    color: white;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
}






/* ==============================
    Other minor tweaks and adjustments
============================ */

h2{
    padding: 0px;
    margin: 0px;
}
.subheader{
    padding: 0px;
    margin: 32px 0px 72px 0px;
}
li{
    padding: 7px 0 7px 0;
}

