* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

/* HEADER */

.header {
  width: 100%;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: #dcebff;
  box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.15);
}
.image {
  margin-top: 1.3em;
}

select.display {
  border: none;
  color: #0055cc;
  background: #dcebff;
}
ul {
  display: flex;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
}
li {
  margin-right: 6rem;
  color: #0055cc;
}

.btn {
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #0055cc;
  background: #dcebff;
  color: #0055cc;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  right: 60px;
  position: relative;
}

.btn-two {
  width: 150px;
  height: 48px;
  background: #00337b;
  border: 2px solid #00337b;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #d9d9d9;
  right: 40px;
  position: relative;
  cursor: pointer;
}

/*LEFT SIDE MAIN*/
.contact-page {
  width: 100%;
  height: 92vh;
  background: #00337b;
  color: #fff9eb;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin: 7vh 3vw 0vh 7vw;
}
.ct-us {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: normal;
}
.container p {
  margin: 0;
  font-size: 20px;
  word-spacing: 1px;
  margin-bottom: 2rem;
}
.contact p {
  margin: 0;
}
.headerFont4 {
  margin: 0;
  padding-left: 3.7rem;
  font-weight: normal;
  font-size: 24px;
}
.paragraphText {
  margin: 0;
  line-height: 2rem;
  font-size: 16px;
  /* color: #d9d9d9; */
  font-weight: lighter;
  padding-left: 5rem;
}
.iconImage {
  margin: 0%;
}
.imgText {
  display: flex;
  margin: 0;
}
.icons {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

/*RIGHT SIDE*/
.container-right {
  width: 75%;
  margin: 0%;
  padding-left: 18vw;
  background: #ffffff;
  color: #001431;
}
.container-right h3 {
  margin-top: 2rem;
  margin-top: 6.5%;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}
.layer {
  display: flex;
  flex-direction: column;
}
.container-right p {
  font-weight: 200;
  line-height: 36px;
  font-weight: 400;
  font-size: 17px;
}

label {
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}
input {
  padding-inline-start: 8px;
  position: relative;
  border: 2px solid #717171;
  border-radius: 8px;
  width: 37vw;
  height: 48px;
  margin: 0;
}

.opt-layer {
  display: flex;
  flex-direction: column;
}
.opt-layer input {
  height: 75px;
}

.button {
  margin-top: 6%;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  width: 38vw;
  height: 48px;
  background: #0066f5;
  border: 2px solid #0066f5;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  body {
     background-color: red;
  }
  /*LEFT SIDE MAIN*/
  
  


/*RIGHT SIDE with Media query*/

.container-right{
    width: 100%;
    margin: auto;
    background-color: goldenrod;
    padding-left: 1rem;

}
.container-right h3{
    padding-top: 1.5rem;
}
input{
    width: 85vw;
    height: 5vh;
}

.opt-layer input{
    height:10vh;
}
.button{
    align-items: center;
    height: 5vh;
    margin-left: 6rem;
    margin-bottom: 2em;
} 

}
