*{
  font-family: 'Poppins', sans-serif;
  margin:auto;
  padding: 0;
 
}

body{
   overflow-y: hidden;

}

/* HEADER */

.header{
  height: 70px;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  background: #F9FBFF;
}
img .image{
  margin-top: 1.5em;
  margin-left: 2em;
  /* padding-left: 5rem; */
  background: red;
  height: 40px;
}

.head{
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
li{
  margin-right:8rem;
}
a{
  text-decoration: none;
  color:#0055CC;
}
.nav-buttons{
  display: flex;
  gap: 1.5rem;
}
.btn{
  font-family: 'Poppins', sans-serif;
  padding: 12px 24px ;
  border-radius: 8px ;
  border: 1.5px solid #0055CC;
  background:  #F9FBFF;
  color:  #00337B;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.btn-two{
  font-family: 'Poppins', sans-serif;
  padding: 12px 24px;
  background: #0055CC;;
  border: 2px  solid  #0055CC;;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #D9D9D9;
  cursor: pointer;
} 



/*LEFT SIDE MAIN*/
.contact-page{
  height: 95vh;
  background: #00337B;
  color: #D9D9D9;
  display: flex;
}
.container{
  width: 25%;
  font-family: 'Poppins', sans-serif;
  margin: 5% 5% 0% 5%;
}
h4.ct-us{
  color: #D9D9D9;
  font-weight: 600;
  font-size: 24px;
  line-height: 2em; 
}
.contact p{
  font-size:20px;
  font-weight: 500;
  margin-bottom: 5%;
  color: #D9D9D9;
  line-height: 30px;
}
.lt-img{
  margin: 0%;
}
.headerFont4{
  color: #D9D9D9;
  font-weight: 600;
  font-size: 20px;
  margin-left:12.5%;
}
p.paragraphText{
  font-weight: 400;
  color: #D9D9D9;
  margin-top: 0%;
  margin-left: 17%;
  font-size: 18px;
  margin-bottom: 2em;
}
.iconImage{
  margin: 0%;
}
.msg{
  margin-bottom: 10%;
}
.imgText {
  display: flex;
}
.icons{
  display: flex;
  float: left;
  gap: 80px;
  margin-top: 50%;

} 


/*RIGHT SIDE*/
.container-right{
  width: 70%;
  margin: 0%;
  background: #FFFFFF;
  color:#001431;
}
.container-right h3{
  margin-top: 6.5%;
  margin-left: 30%;
  font-weight: 600;
  font-size: 26px;
  line-height: 2em;
}
.container-right p{
  font-weight: 200;
  margin-left: 30%;
  line-height: 36px;
  font-weight: 400;
  font-size: 17px;
}

label{
  font-weight: 700;
  line-height: 3em;
  margin-left: 30%;
}
input{
  padding-inline-start: 8px;
  border: 2px solid #717171;
  border-radius: 8px;
  width: 45%;
  height: 48px;
  margin-left: 30%;
}
.opt-layer input{
  height:75px;
}

.button{
  margin-top: 6%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  width: 46%;
  height: 58px;
  margin-left: 30%;
  background: #0066F5;
  border: 2px solid #0066F5;
  border-radius: 8px;
}


















/* @media only screen and (max-width:480px){ */
/* body{ */
  
/* } */
  
/*LEFT SIDE MAIN*/
/* .contact-page{ 
  width: 100%;
  height: 50%;
  background: #FFFFFF;
  color: #FFF9EB;
  position: relative;
  display: flex;
  flex-direction: column-reverse; 
}
.contact{
  display: none;
}
.container{
  width: 100%;
  margin: auto;
}
.contact{
  display: none;
}
.msg{
  display: flex;
  flex-direction: column;
}
.imgText{
  display: flex;
  flex-direction: column;
}
.iconImage{
  margin-top: 15%;
  margin-bottom: 0%;
  border: 2px solid #0066F5;
  background: #9ec6fd;
  padding: 8px 10px;
  width: 30px;
  align-self: center;  
}
h4.headerFont4{
  color: black;
  margin: 0%;
  text-align: center;
  width: 150px; 
}

p.paragraphText{
  text-align: center;
  color: #0055CC;
  margin-right:15% ;
}

span{
  color: #0055CC;
  text-decoration: underline;
}

.icons{
  display: none;
} */




/*RIGHT SIDE with Media query*/
/* 
.container-right{
  margin-top: 3%;

}
.container-right h3{
  padding-top: 1.5%;
  margin-left: 3%;
}
.container-right p{
  padding-top: 0%;
  margin-left: 3%;
}

.layer{
  display: flex;
  flex-direction: column;
}

label{
  margin-left: 3%;
}
input{
  width: 85%;
  height: 5vh;
  margin-left: 3%;
}

.opt-layer input{
  height:10vh;
}

button.button{

  align-items: center;
  margin-left: 25%;
}
} */
