*{
  font-family: 'Poppins', sans-serif;
  margin:auto;
  padding: 0;
 
}

body{
   overflow-y: hidden;

}

/* HEADER */

.header{
  width: 100%;
  padding: 0%;
  display: flex;
 height: 75px;
 background: #F9FBFF;
 opacity: 0.8;
  /* box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.15); */
  
}
.image{
  margin-top: 1em;
  height: 40px;
}

ul{
  display: flex;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}
li{
  margin-right:8rem;
  color:#0055CC;
}
.nav-buttons{
 width: 15%;
}
.btn{
  font-family: 'Poppins', sans-serif;
  width: 100px;
  height: 48px;
  border-radius: 8px ;
  border: 1px solid #0055CC;
  background: #DCEBFF;
  color:#0055CC;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  right: 60px;
  position: relative;
}

.btn-two{
  width: 150px;
  height: 48px;
  background: #0055CC;;
  border: 2px  solid  #0055CC;;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #D9D9D9;
  right: 40px;
  position: relative;
  cursor: pointer; 
} 



/*LEFT SIDE MAIN*/
.contact-page{
  width: 100%;
  height: 95vh;
  background: #00337B;
  color: #D9D9D9;
  display: flex;
}
.container{
  width: 25vw;
  font-family: 'Poppins', sans-serif;
  margin: 5vw 0vw 1vw 5vw;
}
h4.ct-us{
  color: #D9D9D9;
  font-weight: 600;
  font-size: 24px;
  line-height: 46px; 
}
.contact p{
  font-size:20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #D9D9D9;
  line-height: 30px;
}
.headerFont4{
  color: #D9D9D9;
  font-weight: 600;
  font-size: 20px;
  margin-left:2.3vw;
  line-height: 36px;
}
.paragraphText{
  font-weight: 400;
  color: #D9D9D9;
  margin-top: 0vw;
  margin-left: 3.3vw;
  font-size: 20px;
  line-height: 36px;
}
.iconImage{
  margin: 0vw;
}
.msg{
  margin-bottom: 2vw;
}
.imgText {
  display: flex;
}
.icons{
  display: flex;
  float: left;
  gap: 4.5vw;
  margin-top: 22vh;
} 


/*RIGHT SIDE*/
.container-right{
  width: 75vw;
  margin: 0%;
  background: #FFFFFF;
  color:#001431;
}
.container-right h3{
  margin-top: 6.5%;
  margin-left: 30%;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}
.container-right p{
  font-weight: 200;
  margin-left: 30%;
  line-height: 36px;
  font-weight: 400;
  font-size: 17px;
}

label{
  font-weight: 700;
  line-height: 46px;
  margin-left: 30%;
}
input{
  padding-inline-start: 8px;
  position: relative;
  border: 2px solid #717171;
  border-radius: 8px;
  width: 45%;
  height: 48px;
  margin-left: 30%;
}


.opt-layer input{
  height:75px;
}

.button{
  margin-top: 6%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  width: 46%;
  height: 48px;
  margin-left: 30%;
  background: #0066F5;
  border: 2px solid #0066F5;
  border-radius: 8px;
}





















/* @media only screen and (max-width:600px){ */
 
  
  /*LEFT SIDE MAIN*/
/* .contact-page{ 
  width: 100%;
  height: 90vh;
  background: #00337B;
  color: #FFF9EB;
  display: block;
  flex-direction: column-reverse;
}
.contact{
  margin: auto;
  display: none;
}
.container{
  background-color:red;
  width: 100%;
}
.contact{
  display: none;
}
.msg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgText{
  display: flex;
  flex-direction: column;
}
.iconImage{
  width: 50px;
  display: flex;
  flex-direction: column;
  
}
.headerFont4{
  display: flex;
  float: right;
  color: black;
}

.icons{
  display: none;
}

h4.headerFont4{
  text-align: center;
  width: 400px;
 
}
.paragraphText{
  color: #000;

}

.msg{
  display:flex;
  line-height: 36px;
  flex-direction: column;

}





/*RIGHT SIDE with Media query*/
/*
.container-right{
  width: 100%;
}
.container-right h3{
  padding-top: 1.5rem;
  margin-left: 1rem;
}
.container-right p{
  padding-top: 0.5rem;
  margin-left: 1rem;
}

.layer{
  display: flex;
  flex-direction: column;
}

label{
  margin-left: 1rem;
}
input{
  width: 85vw;
  height: 5vh;
  margin-left: 1rem;
}

.opt-layer input{
  height:10vh;
}

.button{
  align-items: center;
  height: 5vh;
  margin-left: 6rem;
  margin-bottom: 2em;
} 


}  */














