{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen/contact us page/contact_us.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
    <div class="header">
        <img class="image" src="{% static 'termsgen/contact us page/assets/Primary.svg' %}" alt="logo">
        <div class="nav">
            <ul class="head">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">Generate</a></li>
                    <li><a href="{% url 'about_us' %}">About us</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact us</a></li>
            </ul>
        </div>
        <div class="nav-buttons">
            <button class="btn">Sign In</button>
            <button class="btn-two">Get Started</button>
        </div>
    </div>
    <main>
        <div class="contact-page">
          <div class="container">
            <div>
              <h4 class="ct-us">Contact Us</h4>
            <p>
              We love to hear from you. Our <br />team is always here to chat.
            </p>
            </div>
            
            <div class="imgText">
              <img src="{% static 'termsgen/contact us page/assets/msg.svg' %}" alt="message">  
              {% comment %} <img class="iconImage" src="{% static 'termsgen/contact us page/assets/msg.svg' %}" alt="message" /> {% endcomment %}
              <h4 class="headerFont4">Chat with us</h4>
            </div>
            <p class="paragraphText">
              Our team is here to assist. termsgen.io@yahoo.com
            </p>
  
            <div class="imgText">
                <img src="{% static 'termsgen/contact us page/assets/location.svg' %}" alt="location">
                <h4 class="headerFont4">Office</h4>
            </div>
            <p class="paragraphText">39,Ikeja GRA,Lagos State,Nigeria.</p>
  
            <div class="imgText">
                <img src="{% static 'termsgen/contact us page/assets/phone.svg' %}" alt="phone">
                <h4 class="headerFont4">Phone</h4>
            </div>
            <p class="paragraphText">+(234) 810 000 0000</p>
  
            <div class="icons">
                <img src="{% static 'termsgen/contact us page/assets/facebook.svg' %}" alt="facebook">
                <img src="{% static 'termsgen/contact us page/assets/twitter.svg' %}" alt="twitter">
                <img src="{% static 'termsgen/contact us page/assets/linkedin.svg' %}" alt="linkedin">
                <img src="{% static 'termsgen/contact us page/assets/instagram.svg' %}" alt="instagram">
            </div>
          </div>
          
          <div class="container-right">
            <h3>Level Up your brand</h3>
            <p>You can reach out anytime Via termsgen.io@yahoo.com</p>
            <div class="layer">
              <label for="name">Name</label>
              <input type="text" required />
            </div>
            <div class="layer">
              <label for="email">Email Address</label>
              <input type="text" required />
            </div>
            <div class="layer">
              <label for="phone">Phone Number</label>
  
              <input type="text" required />
            </div>
  
            <div class="opt-layer">
              <label for="text">How can we help?</label>
              <input type="text" />
            </div>
            <button class="button">Send</button>
          </div>
        </div>
      </main>
</body>
</html>