@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.container{
    /* background: red; */
    margin: auto;
    width: 100%;
    text-align: center;
}
.menu{
    width: 100%;
    display: flex;
    background-color:#F9FBFF;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: space-between;
    line-height: 100%;
    font-family: 'Poppins';
    top: 0%;
    font-style: normal;
    font-weight: 500;
    position: fixed;
    z-index: 10;
    
}
.menu a{
    text-decoration: none;
    color: #00337B;
}

.menu a:hover{
    background-color: rgb(25, 104, 221);
    color:#F9FBFF;
    padding: 5px;
}
.menunav .drop:hover .dropdw{
    display: block;
}
.logo{
    width: 20%;
    /* border: 2px solid black; */
}
.menu img{
    max-width: 80%;
}

.menunav{
    width: 60%;
    /* border: 2px solid black; */
    display: flex;
    list-style: none;
    gap:5%;
    color:#F9F6EE;
}
/* .dropdw{
    background: rgb(142, 150, 189);
    display: none;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 50px;
    padding: 5px;
    min-width: 100px;
    text-align: left;
    padding: 10px;
    line-height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */
.status,
.pagename{
    padding: 10px;
}
.pagename{
    /* border: 2px solid #969696; */
    margin-top: 90px;
    padding-top: 37px;
    padding-bottom: 40px;
    background: #ECF0F3;
    z-index: -1;
}
.pagenum{
    display: flex;
    gap: 10px;
    max-width: max-content;
    min-width:min-content;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    position: relative;
    /* border: 3px solid green; */
    /* overflow-x: auto; */
}
.line{
    width:80%;
    margin-top: 15px;
    /* margin-left: 59px; */
    position: absolute;
    margin-left: 10%;
    border-top: 2px solid black;
    z-index: -1;
  
}
.pagenum h3{ 
    width: 25px ;
    height: 25px;
    border: 2px solid #151515;
    line-height: 25px;
    border-radius: 50%;
    margin: auto;
    background: #F9F6EE;
    color: #151515;
    


}
.page{
    text-align: center;
   
    
}
.iv h3{
    color: #F9F6EE;
    background: #0055CC;
    border: 1px solid #F9F6EE;
    box-shadow: 0px 0px 4px 2px #0055CC;
    animation: page 1.0s linear ;
}
@keyframes page{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.document{
    width: 70%;
    height: 500px;
    background-color: #0055CC;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    overflow: auto;
    cursor:pointer;
    border: 2px solid rgba(68, 60, 60,0.5)
}
.document_page{
    background: white;
    padding: 10px;
    text-align: left;
    
}
.document_page li{
    margin:10px ;
    margin-left: 30px;
}

.language{
    max-width: 50%;
    /* background: red; */
    text-align: center;
    height: 300px;
    position: relative;
    /* width: max-content; */
    margin: auto;
}
.fileformat,
.options{
    display: flex;
    justify-content: space-evenly;

}

.options{
    margin-top: 30px;
   
}
.overtop{
    background: #0055CC;
    height: 30%;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}
.overdown{
    background:#F9F6EE;
    height: 70%;
    border-radius: 0px 0px 10px 10px;

}



.exportoverlay{
    border: 2px solid rgba(68, 60, 60,0.5);
    border-radius: 10px;
    display: none;
    background:#00337B;
    position: absolute;
    top: 0px;
    left:5.3%;
    width: max-content;
    height: 240px;
    z-index: 1;
}
.export .fileformat img {
    width: 60px;
  
}

.export .overtop img{
    position: absolute;
    margin-left: 39.6%;
    margin-top:30px;

    
    
}

.options div img{
    display: flex;
    width: 100px;
    /* border: 1px solid red; */
    
}

h4{
  
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.overcontext{
    width: 90%;
    margin: auto;
    padding-top: 60px;
    /* background: #00337B; */
}
select{
    color: black;
    border:1px solid #5F5F5F;
    border-radius: 8px;
    padding: 10px 25px;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    
}

.back{
    
    width: 40%;
    background: #0e54b8;
    margin: auto;
    color: #F9F6EE;
    border-radius: 8px;
    margin-top: 50px;
    padding: 10px 35px;
    text-align: center;
    margin-bottom: 200px;
}
.export:hover .exportoverlay{
    display: block;
   
}

#burger{
    display: none;
}

#downloadbtn{
    width: 120px;
}

@media (max-width:700px) {
    body{
        width: 100%;
    }
    .menunav{
        font-size: 13px;
        width: 75%;
        /* display: none; */
        
    }
    .language{
        font-size: 12px;
        max-width: 75%;
        /* border: 1px solid red; */
    }
    .options div img{
        display: flex;
        width: 85px;  
    }
    .export .fileformat img {
        width: 50px;
      
    }
    #downloadbtn{
        width: 100px;
    }
}

    @media (max-width:400px) {
        
    
    #burger{
        display: block;
        right: 10px;
        position: absolute;
        z-index: 4;
    }
    .menunav{
        font-size: 10px;
        display: none;
    }
    .pagenum{
        /* border: 1px solid red; */
        margin: 0%;
        gap: 4px;
        background: #00337B;
        color: #F9F6EE;
        padding-top: 10px;
        
    }
    .pagenum div small{
        font-size: 10px;
    }
    .pagenum .line  {
        border:1px solid #F9F6EE;
        /* background: #F9F6EE; */
        z-index: 1;
    }
    .page{
        z-index: 2;
        border: 1px soild #ECF0F3;
    }
    .pagenum h3{
        border: 2px solid #ECF0F3;
        background: #00337B;
        color: #ECF0F3;
    }
    .iv h3{
        background: #ECF0F3;
        color: #00337B;border: 1px solid  #0055CC;
        box-shadow: 0px 0px 4px 2px #F9F6EE;
    }
    .pagename{
        margin-top: 70px;
    }
    .pagename h1{
        font-size: 20px;
    }
    .options div img{
        display: flex;
        width: 63px;  
    }
    .export .fileformat img {
        width: 50px;
      
    }
    #downloadbtn{
        width: 70px;
    }
    .language{
        max-width: 86%;
    }
    select{
        font-size: 10px;
    }
    button{
        font-size: 10px;
        max-width: 30%;
        text-align: center;
    }
}


 