@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.container{
    /* background: red; */
    margin: auto;
    width: 100%;
    text-align: center;
    position: relative;
}
.menu{
    width: 98%;
    padding: 1%;
    display: flex;
    background-color: #F9FBFF;
    padding-top: 20px;
    /* padding-bottom: 30px; */
    top: 0;
    justify-content: space-between;
    line-height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    position: fixed;
    z-index: 10;
    
}
.menu a{
    text-decoration: none;
    color: #00337B;
}
.menu a:hover{
    background-color: lightgray;
}
.menunav .drop:hover .dropdw{
    display: block;
}
.logo{
    width: 20%;
    /* border: 2px solid black; */
}
.logo img{
    width:70%;
    margin: auto;
}


.menunav{
    width: 60%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    list-style: none;
    gap:5%;
    color:#F9F6EE;
}
.dropdw{
    background: rgb(142, 150, 189);
    display: none;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 50px;
    padding: 5px;
    min-width: 100px;
    text-align: left;
    padding: 10px;
    line-height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.pagename{
    padding: 20px 0px;
    background: #ECF0F3;
    margin-top: 85px;
    border-bottom: 2px solid #969696;
}
.pagenum{
    display: flex;
    gap: 10px;
    max-width: max-content;
    min-width:min-content;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    position: relative;

}


.page{
    text-align: center;   
}


.onlybody{
    width: 90%;
    position: relative;
    margin: auto;
    /* border: 1px solid red; */
}

.done{
    width: 70%;
    /* height: 400px; */
    margin: 40px auto;
    background: white;
    /* border: 1px solid red; */
}
.done img{
    width: 30%;
}
.onlybody a img{
     width:20%; 
 }  
 .text{
    margin-bottom: 50px;
 }
 #burger{
    display: none;
 }

@media (max-width:600px) {
    body{
        width: 100%;
    }
    .menu{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .done img{
        width: 60%;
    }
    .onlybody a img{
         width:30%; 
     } 
     .pagenum{
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .menu {
        font-size: 14px;
    }
    .pagename{
        font-size: 13px;
        margin-top: 82px;
    }
}
@media (max-width:400px) {
    #burger{
        display: block;
    }
    .menunav{
        display:none ;
        font-size: 10px;
        margin: auto;
    }
    .pagename{
        
        font-size: 13px;
        display: none;
    }
    .pagenum{
        margin-top: 170px;
        margin-bottom: 15px;
    }
}