@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    /* position: relative; */
}
.nav{
    width: 8%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    position: fixed;
    height: 100vh;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #00337B;
    /* border:1px solid blue; */
    box-shadow: 3px 3px 3px 3px;
    top: 70px;
    z-index: 1;
}

.line {
    height: 40px;
    width: 0%;
    margin: 5px auto;
    background: #D9D9D9;
    border: 0.03cm solid  #D9D9D9;
}

         .page1,
         .page2,
         .page3,
         .page4,
         .page5{
    height: 25px;
    width: 25px;
    text-align: center;
    margin: auto;
     line-height: 25px;
    border: 3px solid#D9D9D9;
    border-radius: 50%;

}
.page3{
    color: #00337B;
    background: #D9D9D9;
    box-shadow: 0px 0px 3px 3px #D9D9D9 ;
    border:2px solid ;
    animation: page 1.0s linear ;
}
@keyframes page{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.workbody{
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    

}

.menu{
    width: 100%;
    min-height: 57px;
    /* border: 2px solid red; */
    background: #F9FBFF;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    line-height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
}
.menu .menunav{
    width: 80%;
    margin-left:  25px;
    display:flex;
    top: 50%;
    
    float:right;
    list-style: none;
    gap: 6%;
    /* border: 1px solid red; */

}
.menunav li :hover{
    background-color: rgb(25, 104, 221);
    color:#F9FBFF;
    padding: 5px;
}
a{
    color: #00337B;
    text-decoration: none;
}
.menunav .dropdown:hover{
    padding: 0%;
    background: none;
}
.dropdw{
    background: rgb(142, 150, 189);
    display: none;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menunav .drop:hover .dropdw{
    display: block;
}
.dropdw > li:hover{
    background:   rgba(25, 104, 221);
    color: gray;
}
.category{
    display: flex;
    flex-direction: column;
    margin: 10px ;
    width: 80%;
}
.category label{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
  }
.category label .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  .category label .fourteen9,
  .category label .three9,
  .category label .fifteen9,
  .category label .sixteen9,
  .category label .six9{
    height: 10px;
    width: 10px;
    border-radius: 2px;
    }
  #dot-19:checked ~ .category label .one9,
  #dot-29:checked ~ .category label .two9,
  #dot-39:checked ~ .category label .three9,
  #dot-49:checked ~ .category label .four9,
  #dot-59:checked ~ .category label .five9,
  #dot-69:checked ~ .category label .six9,
  #dot-79:checked ~ .category label .seven9,
  #dot-89:checked ~ .category label .eight9,
  #dot-99:checked ~ .category label .nine9,
  #dot-109:checked ~ .category label .ten9,
  #dot-119:checked ~ .category label .eleven9,
  #dot-129:checked ~ .category label .twelve9,
  #dot-139:checked ~ .category label .thirteen9,
  #dot-149:checked ~ .category label .fourteen9,
  #dot-159:checked ~ .category label .fifteen9,
  #dot-169:checked ~ .category label .sixteen9{
    background: #0055CC;
    border-color: #d9d9d9;
}
.logoxx{
    width: 20%;
    /* border: 1px solid red; */
}
.logoxx img{
    width: 40%;
    margin-left: 35%;
    
}
.questions{
    display: flex;
    justify-content: space-between;
}
.part1,
.part2{
    width: 50%;
    padding-left: 30px;
}
.platform-title,
.producttype-title,
.refund-title,
.discount-title,
.invalid-title,
.shipping-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.down{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.top{
    width: 98.3%;
    display: flex;
    padding: 20px;
    justify-content:space-between;
    background: #ECF0F3;
    padding-top: 25px;
    height: 80px;

}
/* .box{
    padding: 20px;
    
} */
.details{
    width: 92%;
    float: right;
    margin-top: 70px;
    
    /* background: #00337B; */
}
.main{
    margin-top: 50px;
}
input[type="radio"],
input[type="checkbox"]{
    display: none;
  }

  button{
    padding: 0px 20px;
    min-width: 15%;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    /* margin: 35px 0 */
  }

.preview,
  .back{
    color: #2B80F7;
    border: 1px solid #2B80F7;


  }
 
  table{
    margin: auto;
  }
.continue{
    background: #2B80F7;
    color: #D9D9D9;
}
.continue:hover{
    background: #375f94;
}
p{
    overflow-x: auto;
}



.previewpage{
    position: absolute;
    width: 94%;
    background: white;
    z-index: 1;
    height: 190vh;
    padding: 1%;
    margin: auto;
    top: 20px;
    left: 2%;
    border-radius: 10px;
    overflow: auto;
    border: 2px solid #2B80F7;
    box-shadow:0px 0px 6px 5px  #00337B;
    display: none;
}
.close{
    width: 10%;
    border: 3px solid #2B80F7;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    left: 80%;
    z-index: 1;
}
.ul{
    width: 100%;
    /* border: 3px solid  #00337B; */
    position: relative
}
.previewpage ul{
    width: 94%;
    margin-left: 5%;
    /* float: right; */
    
}
.contactMail,
.contactWeb,
.contactsocial,
.contactnum,
.contactpost{
    display: none;
    position: relative;
}

#cEmail,
#cWeb,
#cmedia,
#cNum,
#cpost{
 padding: 5px;
 border: 1px solid black;
 border-radius: 5px;
}
#burger{
    display: none;
}


@media (max-width:700px){

    body{
        width: 100%;
    }
    .questions{
        display: block;
        width: 96%;
        margin: auto;
    }
    .part1,
    .part2{
        width: 96%;
        padding: 0%;
    }
    h1{
        font-size: larger;
        padding-right: 60px;
    }
    h4{
        
        font-size: large;
    }
    .top{
        width: 93.1%;
    }
   .menunav{
    font-size: 12px;
   }
   /* .workbody{
    width: 100%;
    
   } */
   .nav{
    width: 16%;
    font-size: 12px;
   }
   /* .logo{
    margin-bottom: 18px;
    width: 96%;
    margin-left: 0;
   } */
   .logoxx img{
    margin-top :9px;
    width: 60%;
   }
   .preview{
    padding: 0;
    min-width: 20%;
   }
   button{
    font-size: 10px;
   }
   .details{
    width: 84%;
   }
   button img{
    width: 70%
   }
}

@media (max-width:400px) {
    body{
        width: 100%;
    }
.nav{
    width:100%;
    z-index: 1;
    display: block;
    height: 120px;
    
}
.nav1{
    display: flex;
    
}
.menu .menunav {
    font-size: 10px;
    display: none;  
}
.line{
    width: 80%;
    height: 0;
    margin: 0;
    margin-left: 40px;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
}
.page1,
.page2,
.page4{
    background-color: #00337B;
    
}
.workbody{
    width: 100%;
    
   }
.details{
    float: none;
    /* top: 195px; */
    width: 100%;
    margin: auto;
    margin-top: 206px;
    font-size: 12px;  
}
.box{
    margin-left: 8px;
}
.top h1{
    font-size: 20px;
    
}
.top{
    background: none;
    padding: 3px;
}
h1{
    font-size: larger;
    padding-right: 40px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 15px;
}

.platform-title,
.producttype-title,
.refund-title,
.discount-title,
.invalid-title,
.shipping-title{
    font-size: 15px;
}
#burger{
    display: block;
    right: 10px;
    position: absolute;
    z-index: 4;
}
}