@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    position: relative;
}
.nav{
    width: 8%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    position: fixed;
    height: 100vh;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #00337B;
    /* border:1px solid blue; */
    box-shadow: 3px 3px 3px 3px;
    top: 70px;
    z-index: 2;
}
.logoxx{
    width: 20%;
    /* border: 1px solid red; */
}
.logoxx img{
    width: 40%;
    margin-left: 35%;
    
}

.line {
    height: 50px;
    width: 0%;
    margin: 5px auto;
    background: #D9D9D9;
    border: 0.03cm solid  #D9D9D9;
}

         .page1,
         .page2,
         .page3,
         .page4,
         .page5{
    height: 25px;
    width: 25px;
    text-align: center;
    margin: auto;
     line-height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

}
.nav1{
margin-top: 60px ;
}
.page1{
    color: #00337B;
    background: #D9D9D9;
    box-shadow: 0px 0px 3px 3px #D9D9D9 ;
    border:2px solid ;
    animation: page 1.0s linear ;
}
@keyframes page{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.workbody{
    width: 100%;
    /* float: right; */
    /* background: #00337B; */
    top: 0%;
    right: 0%;
    bottom: 0%;
    
}

.menu{
    width: 100%;
    min-height: 57px;
    /* border: 2px solid red; */
    background: #F9FBFF;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    line-height: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
}
.menu .menunav{
    width: 80%;
    margin-left:  25px;
    display:flex;
    top: 50%;
    
    float:right;
    list-style: none;
    gap: 6%;
    /* border: 1px solid red; */

}
.menunav li :hover{
    background-color: rgba(25, 104, 221, 1);
    color: white;
    padding: 5px;
}
a{
   color: #00337B;
    text-decoration: none;
}
.menunav .dropdown:hover{
    padding: 0%;
    background: none;
}
.dropdw{
    background: rgb(142, 150, 189);
    display: none;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menunav .drop:hover .dropdw{
    display: block;
}
.dropdw > li:hover{
    background:   rgba(25, 104, 221);
    color: gray;
}
.pagedetails{
    width: 100%;
    margin: auto;
    position: relative;
    
}
.details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50px;
    margin: auto;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

}
.details1,
.details2{
        width: 45%;
        padding: 20px;
}

nav{
        
    position: relative;
    /* justify-content: space-between; */
    width: 96%;
    margin: auto;
    border: 1px solid #001431;
    
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    overflow-x: auto;
}
table{
    border-spacing: 15px 5px;
    
}
nav label{
    display: flex;
    justify-content: space-between;
}
#country{
    width: 100%;
    border: 1px solid #001431;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}
#date{
    width: 90%;
    /* font-weight: 600px; */
    font-size: 20px;
    padding: 10px;
    background: rgba(92, 80, 80, 0.2);
    border-radius: 10px;
    border: 1px solid #001431;
    margin-bottom: 30px;
}
small{
    font-size: 16px;
}
label,
 input{
    cursor: pointer;
}
h1{
    font-size: 35px;
    height: 83px;
    padding-top: 25px;
    padding-left: 15px;
    /* width: 70%; */
    /* border:1px solid #00337B; */
    background: rgba(204, 224, 253, 0.3);

}
h4{
    padding-left: 15px ;
    /* width: 70%; */
    margin-top: 30px;
    font-size: 25px;

}

.preview{
    padding: 5px 30px;
    border-radius: 8px;
    position: absolute;
    right: 3%;
    top: 3.4%;    
    border:1px solid #2B80F7;
    color: #2B80F7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.continue{
    padding: 10px 35px;
    color: whitesmoke;
    border-radius: 8px;
    background: #00337B;
    border: 1px solid rgb(74, 90, 124);
    float: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.detailbody{
    position: relative;
    width: 92%;
    float: right;
    margin-top: 76px;
}
.down{
    width: 50%;
    height: 140px;
    padding-right: 30px;

     position: relative;
     float: right;
     top: 60px;
    
    
}
p{
    overflow-x: auto;
}

.disable1,
.disable2,
.disable3,
.disable4{
    display: none;
    margin-top: 5px;
    /* border: 1px solid gray; */
    padding: 10px;
    border-radius: 10px ;
    font-family: 'Poppins';
    font-style: normal;
    /* text-align: center; */
    font-weight: 300;
    z-index: 1;

}

input[type="text"],
input[type="url"]{
    border: 1px solid gray;
    border-radius: 4px;
    cursor: auto;
    width: 94%;
    padding: 5px;
}
.previewpage{
    position: absolute;
    width: 96%;
    background: whitesmoke;
    z-index: 1;
    height: 190vh;
    padding: 2%;
    margin: auto;
    top: 20px;
    overflow: auto;
    border: 2px solid #2B80F7;
    box-shadow:0px 0px 6px 5px  #00337B;
    display: none;
}
.close{
    width: 10%;
    border: 3px solid #2B80F7;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    left: 80%;
    z-index: 1;
}
.ul{
    width: 100%;
    /* border: 3px solid  #00337B; */
    position: relative
}
.previewpage ul{
    width: 94%;
    margin-left: 5%;
    /* float: right; */
    
}
#exitt,
#burger{
    display: none;
}

@media (max-width:700px){

    body{
        max-width: 100%;
    }
    .details{
        display: block;
        width: 96%;
        margin: auto;
        
    }
    .detailbody{
        width: 85%;
    }
    .details1,
    .details2{
        width: 96%;
        padding: 0%;
    }
    h1{
        font-size: x-large;
        padding-right: 140px;
    }
    h4{
        
        font-size: larger;
    }
   .menu{
    font-size: 18px;
   }
   .menunav{
    font-size: 10px;
   }
   .menunav img{
    width: 15%;
   }
   
  
   .nav{
    width: 15%;
    font-size: 12px;
   }
    .logoxx{
    width: 32%;
    /* border: 1px solid red; */

}
   .logo img{
    margin-bottom: 18px;
    width: 100%;
    margin-left: 1%;
    /* border: 1px solid red; */
   }
   .preview{
    padding: 5px;
    min-width: 20%;
    font-size: 13px;
   }
   button{
    font-size: 10px;
   }
}

@media (max-width:400px){
    body{
        width:100%
    }
    .nav{
        width:100%;
        z-index: 1;
        display: block;
        height: 120px;
        
        
        
    }
    .nav1{
        display: flex;
        margin-top: 20px;
        padding: 10px;
        
        
    }
    .menu .menunav {
        font-size: 18px;
        display: none;  
    }
    .line{
        width: 75%;
        height: 0;
        margin: 0;
        margin-left: 40px;
        margin-top: 15px;
        position: absolute;
        z-index: -1;
    }
    .page2,
    .page3,
    .page4{
        background-color: #00337B;
        
    }
    .detailbody{
        float: none;
        top: 195px;
        width: 90%;
        margin: auto;
        font-size: 12px;  
    }
    h1{
        font-size: 20px;
        background: none;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 15px;
    }
    #burger{
        display: block;
        right: 10px;
        position: absolute;
        z-index: 4;
    }
    #exitt{
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 30px;
    }
    .menu .menunav{
        position: fixed;
        background: #00337B;
        flex-direction: column;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0%;
        right: 0%;
        padding: 15%;
        text-align: left;
        gap: 30px;
        z-index: 44;
    
    }
    .menunav li a{
        color: #d9d9d9;
    }
    .logoxx img{
        width: 80%;
        margin-left: 10%;
    }
}    
