@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    /* position: relative; */
}
.nav{
    width: 8%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    position: fixed;
    height: 100vh;
    color: #D9D9D9;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #00337B;
    /* border:1px solid blue; */
    box-shadow: 3px 3px 3px 3px;
    top: 70px;
    z-index: 1;
}
.logoxx{
    width: 20%;
    /* border: 1px solid red; */
}
.logoxx img{
    width: 40%;
    margin-left: 35%;
    
}
.line {
    height: 50px;
    width: 0%;
    margin: 5px auto;
    background: #D9D9D9;
    border: 0.03cm solid  #D9D9D9;
}

         .page1,
         .page2,
         .page3,
         .page4,
         .page5{
    height: 25px;
    width: 25px;
    text-align: center;
    margin: auto;
     line-height: 25px;
    border: 1px solid#D9D9D9;
    border-radius: 50%;

}
.page2{
    color: #00337B;
    background: #D9D9D9;
    box-shadow: 0px 0px 3px 3px #D9D9D9 ;
    border:2px solid ;
    animation: page 1.0s linear ;
}
@keyframes page{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.workbody{
    width: 100%;
    position: absolute;
    /* background: #00337B; */
    top: 0%;
    right: 0%;
    bottom: 0%;
    
    /* background: blueviolet;   */
}
.nav1{
    margin-top: 60px ;
    }
/* .box{
    padding: 20px;
    
} */
.menu{
    width: 100%;
    min-height: 57px;
    /* border: 2px solid red; */
    background: #F9FBFF;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    line-height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
}
.menu .menunav{
    width: 80%;
    margin-left:  25px;
    display:flex;
    top: 50%;
    
    float:right;
    list-style: none;
    gap: 6%;
    /* border: 1px solid red; */

}
.menunav li :hover{
    background-color: rgba(25, 104, 221, 1);
    color: white;
    padding: 5px;
}
a{
    color: #00337B;
     text-decoration: none;
 }
.details{
    position: relative;
    width: 92%;
    float: right;
    margin-top: 55px;
  
}
.menunav .dropdown:hover{
    padding: 0%;
    background: none;
}
.dropdw{
    background: rgba(25, 104, 201, 1);
    display: none;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* .menunav .drop:hover .dropdw{
    display: block;
}
.dropdw > li:hover{
    background:   rgb(25, 104, 221);
    color: gray;
} */


.category{
    display: flex;
    flex-direction: column;
    margin: 10px ;
    width: 80%;
}
.category label{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px;
  }
.category label .dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three,
  #dot-4:checked ~ .category label .four,
  #dot-5:checked ~ .category label .five,
  #dot-6:checked ~ .category label .six,
  #dot-7:checked ~ .category label .seven,
  #dot-8:checked ~ .category label .eight,
  #dot-9:checked ~ .category label .nine,
  #dot-10:checked ~ .category label .ten,
  #dot-11:checked ~ .category label .eleven,
  #dot-12:checked ~ .category label .twelve,
  #dot-13:checked ~ .category label .thirteen,
  #dot-14:checked ~ .category label .fourteen,
  #dot-15:checked ~ .category label .fifteen,
  #dot-16:checked ~ .category label .sixteen{
    background: #0055CC;
    border-color: #d9d9d9;
}
.questions{
    display: flex;
    justify-content: space-between;
}
.part1,
.part2{
    width: 50%;
    padding-left: 30px;
}
.platform-title,
.producttype-title,
.refund-title,
.discount-title,
.invalid-title,
.shipping-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}
.down{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
}
.top{
    display: flex;
    justify-content: space-between;
}
.main{
    margin-top: 50px;
}
/* .preview{
    min-width: 10%;
    height: 20px;

} */

input[type="radio"]{
    display: none;
  }
button{
    padding: 0px 20px;
    min-width: 15%;
    
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    /* margin: 35px 0 */
  }
  button:hover{
    display: inline-block;
    background: rgba(0,0,0,0.2);
  }
.preview,
  .back{
    color: #2B80F7;;
    border: 1px solid #2B80F7;


  }
.continue{
    background: #2B80F7;
    color: #D9D9D9;
}
.continue:hover{
    background: #375f94;;
}
p{
    overflow-x: auto;
}


.previewpage{
    position: absolute;
    width: 96%;
    background: whitesmoke;
    z-index: 1;
    height: 190vh;
    padding: 2%;
    margin: auto;
    top: 20px;
    overflow: auto;
    border: 2px solid #2B80F7;
    box-shadow:0px 0px 6px 5px  #00337B;
    display: none;
}
.close{
    width: 10%;
    border: 3px solid #2B80F7;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    left: 70%;
    z-index: 1;
}
.ul{
    width: 100%;
    /* border: 3px solid  #00337B; */
    position: relative
}
.previewpage ul{
    width: 94%;
    margin-left: 5%;
    /* float: right; */
    
}
.top{
    width: 98%;
    display: flex;
    padding: 1%;
    justify-content:space-between;
    background: #ECF0F3;
    padding-top: 45px;
    height: 80px;

}
#burger{
    display: none;
}

@media (max-width:700px){

    body{
        width: 100%;
    }
    .questions{
        display: block;
        width: 96%;
        margin: auto;
        
    }
    .part1,
    .part2{
        width: 96%;
        padding: 0%;
        
    }
    h1{
        
        font-size: larger;
        width: 70%;
    }
    h4{
        
        font-size: large;
    }
   .menunav{
    font-size: 12px;
   }
   .menunav img{
    width: 10%;
   }
   .workbody{
    width: 100%;
    
   }
   .details{
    width: 84%;
 
   }
   .top{
    width: 98%;
   }
   .logoxx img{
    margin-top :9px;
    width: 60%;
   }
   .nav{
    width: 16%;
    font-size: 12px;
   }
   /* .logo{
    margin-bottom: 18px;
    width: 96%;
    margin-left: 0;
   } */
   .preview{
    padding: 0;
    min-width: 20%;
    margin-right: 15px;
   }
   .previewpage{
    padding: 0;
    width: 86%;
    margin: auto;
    padding: 10px;
    margin-right: 30px;
   }
   button{
    font-size: 10px;
   }
   button img{
    width: 70%
   }
  
}
@media (max-width:400px) {
    body{
        width: 100%;
    }
    .nav{
    width:100%;
    z-index: 1;
    display: block;
    height: 120px;
    
}
.nav1{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    
}
.menu .menunav {
    font-size: 10px;
    display: none;  
}
.line{
    width: 75%;
    height: 0;
    margin: 0;
    margin-left: 40px;
    margin-top: 13px;
    position: absolute;
    z-index: -1;
}
.page1,
.page3,
.page4{
    background-color: #00337B;
    
}
.details{
    float: none;
    top: 195px;
    width: 100%;
    margin: auto;
    font-size: 12px;  
}
.top h1{
    font-size: 20px;
    
}
.box{
    padding: 5px;
}
.top{
    background: none;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 15px;
}
.platform-title,
.producttype-title,
.refund-title,
.discount-title,
.invalid-title,
.shipping-title{
    font-size: 16px;
}
#burger{
    display: block;
    right: 10px;
    position: absolute;
    z-index: 4;
}
}