*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgba(0,0,0, 0.9);
}

.container{
    background-color: white;
    width: 44vw;
    height: 44vw;
    margin: 5rem auto;
    border: 1px solid #00337B;
    border-radius: 24px;
    outline: none;
}

.top{
    background-color: #00337B;
    width: 100%;
    height: 40%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.export-img{
    /* position: relative;
    top: -15%; */
    width: 11.7vw;
    height: 11.7vw;
    margin: auto auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}

img{
    width: 80%;
    /* height: auto; */
}

.bottom{
    /* background-color: white; */
    position: relative;
    top: -12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 68px;
}

.text, p{
    text-align: center;
    max-width: 370px;
    font-size: 1.76vw;
    font-weight: 600;
}

.export-options{
    position: relative;
    display: flex;
    gap: 1.25rem;
    margin: 1rem 4.25rem;

}

.options{
    /* position: relative; */
    border-radius: 0.59vw;
    background-color: #0055CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.17vw 2.34vw;
}

.options a{
    color: white;
    font-size: 1.17vw;
    text-decoration: none;
}
