*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    /* position: relative; */
    width: 100%;
    
}

/* styling for navigation bar */

.logobox{
    padding: 1rem;
    width: 11%;
    z-index: 999;
}

.logo{
    width: 100%;
    height: auto;
}

.navbar{
    width: 100%;
    /* height: 7.74%; */
    background-color: #F9FBFF;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.navtabs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;    

}

.navtabs ul li{
    list-style: none;
    display: inline-block;
    padding: 1rem 1.5rem;
}

nav ul li a{
    color: #0055CC;
    text-decoration: none;
    font-size: 1.32vw;
    font-weight: 500;
}

.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.ellipse{
    width: 30px;
    height: 30px;
    background-color: #F9FBFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0055CC;
    font-weight: 600;
}

.dashboard p{
    color: #0055CC;
    font-size: 1.32vw;
    font-weight: 600;
}

/* header of the main content */

.biz-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10% 1rem 4.5rem;
    border-bottom: 1px solid #969696;
}

.biz-info h1{
    font-size: 2.34vw;
    font-weight: 600;
}

/* main content styling */

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* progress bar */

.bar{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.num1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.line{
    position: relative;
    background-color: #333;
    width: 510px;
    top: 4.375rem;
    z-index: -2;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 3vw;
    height: 3vw;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.circle4{
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.p{
    font-size: 1.37vw;
    font-weight: 800;
}

/* main preview page */

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.34vw;
    font-weight: 800;
    margin: 5rem 0;
}

.document{
    background-color: #d9d9d9;
}

.download-lang{
    text-align: center;
    padding:88px 0;
}

.download-lang p{
    max-width: 600px;
    font-size: 2.2vw;
    font-weight: 600;

}

.select-btn{
    padding-top: 59px;
}

select{
    width: 21.875rem;
    height: 3.5rem;
    border-radius: 8px;
}

.download-options{
    display: flex;
    gap: 88px;
    padding-bottom: 88px;

}

.options{
    border-radius: 0.5rem;
    background-color: #0055CC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.options a{
    color: white;
    font-size: 1.17vw;
    text-decoration: none;
}

/* button */

.back-btn{
    width: 8.125rem;
    background-color: #CCE0FD;
    border: 1px solid #CCE0FD;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    margin: 0 0 10rem 4.5rem;
}

.back-btn a{
    text-decoration: none;
    color: #2B80F7;
    font-weight: 500;
    font-size: 1.17vw;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

