<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="p2-additional-info.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <title>Business Information</title>
</head>

<body>
    <div class="container">

        <!-- sidebar section containing logo and progress bar -->

        <section class="navigation-bar">            
            <div class="navbar">
                <nav>
                    <div class="logobox">
                        <img src="Primary@3x.png" alt="termsgen-logo" class="logo">
                    </div>            
                    <div class="navtabs">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Generate</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="user-profile">
                        <div class="ellipse">G</div>
                    </div>
                </nav>
            </div>
        </section>

        <!-- Main section containing navbar and content -->

        <section class="main">
            <div class="sidebar">

                <div class="list">
                    <div class="sidebar-icons">
                        <a class=" anchors" href="#">
                            <p class="inactive">1</p>
                        </a>
                        <p>Business Information</p>
                    </div>
    
                    <div>
                        <hr class="vert">
                    </div>
                    
                    <div class="sidebar-icons">
                        <a class="anchors" href="#">
                            <p class="active">2</p>
                        </a>
                        <p>Additional Information</p>
                    </div>
                    
                    <div>
                        <hr class="vert">
                    </div>
    
                    <div class="sidebar-icons">
                        <a class="anchors" href="#">
                            <p class="inactive">3</p>
                        </a>
                        <p>Security Details</p>
                    </div>
                    
                    <div>
                        <hr class="vert">
                    </div>
    
                    <div class="sidebar-icons">
                        <a class="anchors" href="#">
                            <p class="inactive">4</p>
                        </a>
                        <p>Preview Document</p>
                    </div>
                </div>
            </div>   

            <div class="main-content">
                <div class="top">
                    <div class="biz-info">
                        <h1>Enter Additional Information</h1>
                        <div class="preview-btn" style="cursor:pointer" onclick="openNav()">
                            <a href="#">preview</a>
                        </div>
                    </div>

                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div class="overlay-content">
                          <img src="./Terms Of Use.png" alt="template preview">
                        </div>
                    </div>
                </div>
                <div class="bottom">

                    <div class="heading">
                        <p>What other information do you require from users?</p>
                    </div>
                    <div class="Q">
                        <div class="column">
                            <div class="questions">
                                <h3>Can users create account?</h3>
                                <input type="radio" id="Q1-yes" name="Q1" value="Yes" class="radio">
                                <label for="Q1-yes">Yes, we do.</label><br>
                                <input type="radio" id="Q1-no" name="Q1" value="No" class="radio">
                                <label for="Q1-no">No.</label>
                            </div>
    
                            <div class="questions">
                                <h3>Can users create and/or upload content (i.e. text, images)?</h3>
                                <input type="radio" id="Q2-yes" name="Q2" value="Yes" class="radio">
                                <label for="Q2-yes">Yes, we do.</label><br>
                                <input type="radio" id="Q2-no" name="Q2" class="radio" value="No">
                                <label for="Q2-no">No.</label>
                            </div>
    
                            <div class="questions">
                                <h3>Do you offer subscription plans?</h3>
                                <input type="radio" id="Q3-yes" name="Q3" value="Yes" class="radio">
                                <label for="Q3-yes">Yes, we offer subscription plans.</label><br>
                                <input type="radio" id="Q3-no" name="Q3" class="radio" value="No">
                                <label for="Q3-no">No.</label>
                            </div>
                            
                            <div class="questions">
                                <h3>Do you offer in-app purchases?</h3>
                                <input type="radio" id="Q4-yes" name="Q4" value="Yes" class="radio">
                                <label for="Q4-yes">Yes, we offer in-app purchases</label><br>
                                <input type="radio" id="Q4-no" name="Q4" class="radio" value="No">
                                <label for="Q4-no">No.</label>
                            </div>
    
                            <div class="questions">
                                <h3>Can users pay for products or services?</h3>
                                <input type="radio" id="Q5-yes" name="Q5" value="Yes" class="radio">
                                <label for="Q5-yes">Yes, users can pay for our products/services</label><br>
                                <input type="radio" id="Q5-no" name="Q5" class="radio" value="No">
                                <label for="Q5-no">No.</label>
                            </div>
                        </div>
    
                        <div class="column">
                            <div class="questions">
                                <h3>Do you use any digital analytics software for tracking purposes?</h3>
                                <input type="radio" id="Q6-yes" name="Q6" value="Yes" class="radio">
                                <label for="Q6-yes">Yes, we use tracking solutions to measure website/app traffic</label><br>
                                <input type="radio" id="Q6-no" name="Q6" class="radio" value="No">
                                <label for="Q6-no">No.</label>
                            </div>
    
                            <div class="questions">
                                <h3>Does your website/app use retargeting for 
                                    advertising?</h3>
                                <input type="radio" id="Q7-yes" name="Q7" value="Yes" class="radio">
                                <label for="Q7-yes">Yes, we use retargeting to advertise our business</label><br>
                                <input type="radio" id="Q7-no" name="Q7" class="radio">
                                <label for="Q7-no" value="No">No.</label>
                            </div>
    
                            <div class="questions">
                                <h3>Do you have the Facebook pixel installed in
                                    your website/app? </h3>
                                <input type="radio" id="Q8-yes" name="Q8" value="Yes" class="radio">
                                <label for="Q8-yes">Yes, we have the Facebook pixel installed</label><br>
                                <input type="radio" id="Q8-no" name="Q8" value="No" class="radio">
                                <label for="Q8-no">No.</label>
                            </div>              
                        </div>
                    </div>
    
                    <div class="buttons">
                        <div class="back-btn">
                            <a href="p1-business-info.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2B80F7" stroke="#2B80F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>Back</a>
                        </div>
    
                        <div class="next-btn">
                            <a href="p3-security-info.html">Continue</a>
                        </div>
                    </div>

                </div>                    
            </div>
        </section>



    </div>
    <script>
        function openNav() {
          document.getElementById("myNav").style.display = "block";
        }
        
        function closeNav() {
          document.getElementById("myNav").style.display = "none";
        }
    </script>
</body>

</html>