{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen\terms and condition\p4-preview-page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
    <title>terms and conditions</title>
</head>

<body>
    <div class="container">

        <!-- navigation bar -->

        <section class="navbar">
            <nav>
                <div class="logobox">
                    <img src="{% static 'termsgen\terms and condition\icons & images\Primary@3x.png' %}" alt="termsgen-logo" class="logo">
                </div>
                
                <div class="navtabs">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Generate</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="user-profile">
                    <div class="ellipse">G</div>
                    <!-- <div class="dashboard">
                        <p>Dashboard</p>
                    </div> -->
                </div>
            </nav>
        </section>
        <!-- main content section -->

        <section class="main">
            
            <div class="biz-info">
                <h1>Preview your document</h1>
            </div>

            <div class="main-content">

                <!-- progress bar starts here -->

                <div class="progress-bar">
                        <hr class="line">

                    <div class="bar">
                        <div class="num1">
                            <div class="num">
                                <div class="circle p"><h2>1</h2></div>
                            </div>
                            <div class="text">Business Information</div>
                        </div>

                        <div class="num1">
                            
                            <div class="num">
                                <div class="circle p"><h2>2</h2></div>
                            </div>
                            <div class="text">Additional Information</div>
                        </div>

                        <div class="num1">
                            <div class="num">
                                <div class="circle p"><h2>3</h2></div>
                            </div>
                            <div class="text">Security Details</div>
                        </div>

                        <div class="num1">
                            <div class="num">
                                <div class="circle4 p"><h2>4</h2></div>
                            </div>
                            <div class="text4">Preview Document</div>
                        </div>                    
                    </div>


                </div>
                
                <!-- progress bar stops here-->

                <div class="message">
                    Your document is ready!
                </div>

                <div class="document"><img src="./Terms Of Use.png" alt=""></div>

                <div class="download-lang">
                    <p>In what Language would you like to download your file?</p>

                    <div class="select-btn">
                            <select id="country" name="country">
                                <option selected value="English">English(United States)</option>
                                <option value="French">Francais</option>
                                <option value="Spanish">Espanol</option>
                                <option value="Italian">Italian</option>
                            </select>
                        </div>
                </div>

                <div class="options">

                    <div class="opt">
                        <img src="{% static 'termsgen\terms and condition\icons & images\export.png' %}" alt="">
                        <a href="#"><p>Export</p></a>
                    </div>
                    <div class="opt">
                        <img src="{% static 'termsgen\terms and condition\icons & images\share icon.png' %}" alt="">
                        <a href="#"><p>Share</p></a>
                    </div>
                    <div class="opt">
                        <img src="{% static 'termsgen\terms and condition\icons & images\embed icon.png' %}" alt="">
                        <a href="#"><p>Embed</p></a>
                    </div>
                    <div class="download-opt">
                        <img src="{% static 'termsgen\terms and condition\icons & images\download icon.png' %}" alt="">
                        <a href="{% url 'terms_conditions_5' %}"><p>Download</p></a>
                    </div>
                </div>
            </div> 

            <div class="back-btn">
                <a href="{% url 'terms_conditions_3' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#2B80F7" stroke="#2B80F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>Back
                </a>
            </div>
        </section>
    </div>
    
</body>

</html>