{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen\terms and condition\p5-success-page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>success</title>
</head>

<body>
    <div class="container">

        <!-- navigation bar -->

        <section class="navbar">
            <nav>
                <div class="logobox">
                    <img src="{% static 'termsgen\terms and condition\icons & images\Primary@3x.png' %}" alt="termsgen-logo" class="logo">
                </div>
                
                <div class="navtabs">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Generate</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="user-profile">
                    <div class="ellipse">G</div>
                    <!-- <div class="dashboard">
                        <p>Dashboard</p>
                    </div> -->
                </div>
            </nav>
        </section>
        <!-- main content section -->

        <section class="main">
            
            <div class="biz-info">
                <h1>TERMS AND CONDITION GENERATOR</h1>
            </div>

            <div class="main-content">

                <!-- progress bar starts here -->

                <div class="progress-bar">
                    <hr class="line">

                    <div class="bar">
                        <div class="num1">
                            <div class="num">
                                <div class="circle p"><h2>1</h2></div>
                            </div>
                            <div class="text">Business Information</div>
                        </div>

                        <div class="num1">
                            
                            <div class="num">
                                <div class="circle p"><h2>2</h2></div>
                            </div>
                            <div class="text">Additional Information</div>
                        </div>

                        <div class="num1">
                            <div class="num">
                                <div class="circle p"><h2>3</h2></div>
                            </div>
                            <div class="text">Security Details</div>
                        </div>

                        <div class="num1">
                            <div class="num">
                                <div class="circle4 p"><h2>4</h2></div>
                            </div>
                            <div class="text4">Preview Document</div>
                        </div>                    
                    </div>
                </div>
                
                <!-- progress bar stops here-->


                <!-- main page with success message -->

                <div class="success-icon">
                    <img src="{% static 'termsgen\terms and condition\icons & images\success-icon with shadow.png' %}" alt="">
                </div>
                <div class="message">
                    Your File has been downloaded Succesfully!
                </div>

                <div class="back-btn">
                    <div class="options">
                        <a href="#"><p>Go Back To Home</p></a>
                    </div>
                </div>
            </div> 
        </section>
    </div>
</body>

</html>