<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="p6-export-ovelay.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="top"></div>
        
        <div class="bottom">

            <div class="export-img">
                <img src="./export icon.png" alt="">
            </div>

            <div class="text">
                <p>Choose the format you wish
                    to export your file:
                </p>
            </div>

            <div class="export-options">
                
                <div class="options">
                    <a href="#"><p>PDF</p></a>
                </div>
                <div class="options">
                    <a href=""><p>TXT</p></a>
                </div>
                <div class="options">
                    <a href=""><p>DOCX</p></a>
                </div>
                <div class="options">
                    <a href=""><p>HTML</p></a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>