{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen//about us page/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'termsgen/about us page/about.css'%}">
    <!-- <link rel="stylesheet" href="/termsgen/static/termsgen/about us page/about_us.css"> -->
    <link rel="stylesheet" href="{% static 'termsgen//about us page/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'termsgen/about us page/about.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="{% static 'termsgen/dashboard/icons/FavIcon secondary@3x.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>About us</title>
</head>
<body>
    <div class="header">
        <figure class="logo">
            <img class="image" src="{% static 'termsgen/about us page/assets/Primary.svg'%}" alt="logo">
            <img src="{% static 'termsgen/about us page/assets/Primary white1.svg'%}" alt="white" class="white">
        </figure>
        <div class="nav">
            <ul class="head">
                <li><a href="">Home</a></li>
                <li><a href="#">Generate</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        <figure><img src="{% static 'termsgen/about us page/assets/Frame 6379.svg'%}" alt="burger" id="burger"></figure>
        </div>
        <div class="nav-buttons">
            <a href="#" class="btn">Sign In</a>
            <a href="#"class="btn-two">Get Started</a>
        </div>
    </div>



    
    <div class="main">
        <div class="link">
            <a class="about" href="#">ABOUT US</a>
        </div>
        <div class="one">
            <div class="left">
                <img src="{% static 'termsgen/about us page/assets/first.svg'%}" alt="first">
            </div>
            <div class="right">
               <h1><span>WHO</span> ARE WE? </h1>
               <p>We’re a team of computer and law geeks who came <br>
                    together to solve one of the most frustrating problems <br>
                    business owners always want to avoid: Doing their <br>
                    legal policy writing themselves! Of course, you could <br>
                    hire an attorney and waste valuable time and money.<br> 
                    Or you could just generate them on our website…<br>
                    for free!
               </p>
            </div>
        </div>
        <div class="two">
            <div class="right-layer">
               <h1><span>WHAT</span> WE DO </h1>
               <p class="rt-tag">We save you the stress of drafting complex legal <br>
                    policies, such as terms and conditions and privacy <br>
                    policies, by generating them for you.
               </p>
            </div>
            <div class="left-layer">
                <img src="{% static 'termsgen/about us page/assets/second.svg'%}" alt="second">
            </div>
        </div>
        <div class="three">
            <div class="left">
                <img src="{% static 'termsgen/about us page/assets/third.svg'%}" alt="third">
            </div>
            <div class="right">
               <h1><span>WHY</span> WE DO IT </h1>
               <p class="p-tag">Starting up a business is tough enough. We want you <br> 
                    to concentrate on the core of your business without <br> 
                    wasting time and money on legal jargons. That’s the <br> 
                    first reason. The second reason is that we love doing <br>
                    those legal jargons that irritate you! 
               </p>
            </div>
        </div>
    </div>




    <div class="footer">
        <div class="footer-logo">
            <img class="favicon" src="/assets/favicon.svg" alt="favicon">
            <p class="p-class">Copyright © 2022 Termsgen.<br>All rights reserved.</p>
        </div>
        <div class="textField">
            <div class="text-content four">
                <h3>Products</h3>
                <div class="textfield">
                    <p>Privacy policy generator</p>
                    <p>Terms and conditions generator</p>
                    <p>Return and refund policy generator</p>
                    <p>Disclaimer generator</p>
                </div>
            </div>
        
            <div class="text-content five">
                <h3>Company</h3>
                <div class="textfield">
                    <p>About us</p>
                    <p>FAQs</p>
                    <p>Privacy policy</p>
                    <p>Terms of use</p>
                    <p>Disclaimer</p>
                    <p>Refund policy</p>
                </div>
            </div>
            <div class="text-content six">
                <h3>Support</h3>
                <div class="textfield">
                    <p>Help and support</p>
                    <p>Contact us</p>
                    <p>Security FAQs</p>
                    <p>Partners</p>
                </div>
            </div>
       
    </div>
       

    </div>
   
   
<script src="../burger.js">

</script>
</body>
</html>
