<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="edashstyle.css">
    <link rel="shortcut icon" type="image/png" href="icons/Fav Icon@3x.png">
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar"> <!--side navigation-->
        
                <img class="logo" src="icons/Secodary.svg" alt="logo">
                <ul>
                    <li><a href="#"> <img src="icons/dash_burger.png" alt="" class="sicon">Dashboard</a></li>
                    <li><a href="#" class="feat-btn"><img src="icons/policies.png" alt="" class="sicon">Policies<img src="icons/dropdown.png" alt="" class="drop"></a>
                        <ul class="feat-show">
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Policies</a></li>
                        </ul>
                        </li>
                        <li><a href="#" class="serv-btn"><img src="icons/settings.png" alt="" class="sicon">Settings<img src="icons/dropdown.png" alt="" class="drop"></a>
                        <ul class="serv-show">
                            <li><a href="#">Basic information</a></li>
                            <li><a href="#">Website information</a></li>
                        </ul>
                        </li>
                    </ul>

            <div class="logout">
                <a href="#"><img src="icons/logout.png" alt="" class="sicon">Logout</a>
            </div>

        </div> <!--side navigation end-->

        <div class="main"> <!--main-->

            <div id="part">
                <div class="search"> <!--search-->
                    <form action="#">
                        <input type="text" name="search" id="search" placeholder="search added website/app">
                    </form>
                </div> <!--search end-->

                <div class="dashtitle"> <!--BASIC INFORMATION title-->
                    <h1>DASHBOARD</h1>
                </div> <!--BASIC INFORMATION title end-->
            </div>

            <div class="generate"> <!--generate buttons below dashboard title-->
                <a class="butz" href="#">Terms & conditions<img src="icons/generate.png" alt="" id="genicon"></a>
                <a class="butz" href="#">Privacy Policy<img src="icons/generate.png" alt="" id="genicon"></a>
                <a class="butz" href="#">Disclaimer<img src="icons/generate.png" alt="" id="genicon"></a>
                <a class="butz" href="#">Return & Refund Policy<img src="icons/generate.png" alt="" id="genicon"></a>
            </div> <!--generate buttons below dashboard title END-->
    
            <div class="projectz"><!--projects-->
            </div><!--projects end-->
            
        </div><!--main end-->
    
        </div>  <!--wrapper end-->
  
    <script>
      $('.btn').click(function(){
        $(this).toggleClass("click");
        $('.sidebar').toggleClass("show");
      });
        $('.feat-btn').click(function(){
          $('nav ul .feat-show').toggleClass("show");
          $('nav ul .first').toggleClass("rotate");
        });
        $('.serv-btn').click(function(){
          $('nav ul .serv-show').toggleClass("show1");
          $('nav ul .second').toggleClass("rotate");
        });
        $('nav ul li').click(function(){
          $(this).addClass("active").siblings().removeClass("active");
        });
   </script>

</body>
</html>