{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'termsgen/sign in and signup pages/style2.css'%}">
	<title>Sign Up</title>
</head>
<body>
	<div class="body-container">
		<header>
			<nav>
				<div class="nav-container">
					<div class="logox">
						<a href="">
						<img class="logo" src="{% static 'termsgen/sign in and signup pages/image/Primary@3x.png' %}" alt="logo">
						</a>
					</div>
				</div>
			</nav>
		</header>

		<div class="container">
			<div class="head">
			<h2 class="title">Get Started</h2>
			<p class="sub">Register now to start generating your compliance documents.</p>
			</div>
			<form method="POST" action="" class="login active">
				{% csrf_token %}
				<div class="inner">
					<div class="form-group">
						<label for="email">Username</label>
						<div class="input-group">
						{{form.username}}
						</div>
					<div class="form-group">
						<label for="email">Email Address</label>
						<div class="input-group">
						{{form.email}}
						</div>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group">
						{{form.password1}}
							<i class='bx bx-lock-alt' ></i>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Re-enter Password</label>
						<div class="input-group">
						{{form.password2}}
							<i class='bx bx-lock-alt' ></i>
						</div>
					</div>
					<P class="tnc">By signing up I agree to the <a href="">Terms and conditions</a> and <a href="">Privacy
						Policy</a></P>

					<input type="submit" name="Create user" value="Sign Up" class="btn-submit">
					{{form.errors}}
					<p class="acct">Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>
				</div>
			</form>
		</div>

	</div>

	<script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Enter username';
		form_fields[2].placeholder='Enter email address';
		form_fields[3].placeholder='Enter password';
		form_fields[4].placeholder='Re-enter password';

		for (var field in form_fields){
			form_fields[field].className == ' form-control'
		}

	</script>

</body>
</html>
