
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- <link rel="stylesheet" href="style.css"> -->
	<link rel="stylesheet" href="{% static 'termsgen/sign in and signup pages/style2.css'%}">
	<link rel="shortcut icon" type="image/png" href="{% static 'termsgen/dashboard/icons/FavIcon secondary@3x.png' %}">
	<title>Login</title>
</head>
<body>
	<div class="body-container">
		<header>
			<nav>
				<div class="nav-container">
					<div class="logox">
						<a href="">
						<img class="logo" src="{% static 'termsgen/sign in and signup pages/image/Primary@3x.png'%}" alt="logo">
						</a>
					</div>
				</div>
			</nav>
		</header>

		<div class="container">
			<div class="head">
			<h2 class="title">Welcome back</h2>
			<p class="sub">Sign in to continue to your account.</p>
			</div>

			<form method="POST" action="" class="login active">
				{% csrf_token %}

			<!-- INCREASE -->
			<form method="POST" action="#" class="login active">
				
					{% csrf_token %}
					<!-- {{form.as_p}} -->

				<div class="inner">
					<div class="form-group">
						<label for="email">Username</label>
						<div class="input-group">
							<input type="text" name="username" id="email" placeholder="Enter email address">
						</div>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group">
							<input type="password" name="password" pattern=".{8,}" id="password" placeholder="Enter password">
							<i class='bx bx-lock-alt' ></i>
						</div>
					</div>
					
					{% for message in messages %}
						<p id="messages">{{message}}</p>
					{% endfor %}

					<a class="fgt" href="forgot.html">Forgot password?</a>
					<div> <button class="btn-submit">Sign In</button></div>
							<p class="or">Or</p>
					<div><button class="btn-submit" id="two"><a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png">  Sign In with Google </a></button></div>
					<p class="acct">Don't have an account? <a href="{% url 'getstarted' %}">Sign Up</a></p>
				</div>
			</form>
		</div>
	</div>

</body>
</html>