@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lato:ital,wght@0,300;0,700;1,400&family=Mingzat&family=Montserrat:wght@500;600;700&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,600&family=Poppins:wght@500;600;700;800;900&family=Redressed&family=Roboto:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: auto;
}

body {
  width: 100%;
  background: #F9FBFF;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  background: #F9FBFF;
  padding-top: 10px;
  position: fixed;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.logo {
  padding: 10px;
  width: 10vw;
}

#white-logo {
  width: 100%;
  
}

#nav-links {
  padding-bottom: 10px;
  width: 45vw;
}

#nav-links a {
  color: #0055cc;
  font-size: 24px;
}

li,
a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #0055cc;
}
#nav-link,
ul {
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 20%;
  margin: 0;
}

.action-button button {
  border-radius: 8px;
  margin-left: 10px;
}

#login {
  background: #F9FBFF;
  /* background-color: transparent; */
  color: #0055cc;
  font-weight: 500;
  font-size: 18px;
  padding: 16px 18px;
  border: 1px solid #0055cc;
  cursor: pointer;
}

#login:hover {
  background-color: #0055cc;
  color: #FFFFFF;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgb(69, 168, 201);
}

#sign-up {
  background-color: #0055cc;
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

#sign-up:hover {
  background-color: #FFFFFF;
  color: #3747d6;
  transition: 0.4s;
  box-shadow: 2px 2px 5px lightblue;
}

main {
  width: 85%;
}
.boxOne {
  display: flex;
  justify-content: space-between;
  padding-top: 12%;
  margin-bottom: 3em;
}
.intro{
  height: 500px;
  margin-left: 0%;
}
span{
  margin-bottom: 3em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #00337B;
}
p{
  margin-top: 1.5em;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;  
  color: #4F759B;
}
.btn{
  margin-top: 2em;
  border: none;
  padding: 20px 40px;
  background: #0055CC;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}
.infoImage{
  margin-right: 0%;
}
.boxOffer{
  margin-bottom: 2em;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  /* line-height: 112px; */
  color: #00337B;
}
.boxTwo{
  display: flex;
  justify-content: space-between;
}
.legalInformation{
    width: 48%;
    padding: 50px;
    border-radius: 10px;
    margin: 0%;
    background-color: #dee9f8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    color: #00337B;
    margin: 0%;
}
.legalDocs{
  display: flex;
  justify-content: space-between;
}
img.legalImage{
  margin-left: 0%;
}
.legalInformation p{
  margin-top: 3em;
}

.legalInformationTwo{
  width: 48%;
  padding: 50px;
  border-radius: 10px;
  margin: 0%;
  background-color: #dee9f8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.legalDocx{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

img.legalDocxImage{
  margin-top: 0%;
  margin-left: 0%;
}

.legalDocx h2{
  line-height: 40px;
  margin: 0%;
}


/*BoxThree*/
.boxThree{
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10em;
}
.legalInformationThree{
  width: 48%;
  padding: 50px;
  border-radius: 10px;
  margin: 0%;
  background-color: #dee9f8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.legalInformationThree p{
  margin-top: 3em;
}
/*BOX SIX*/
.boxSix{
  display: flex;
  margin-bottom: 3em;
}
img.leftImage{
  margin-left: 0%;
}
.boxSix p{
  margin-top: 8em;
  margin-right: 0%;

}

/*BOX SEVEN*/
.boxSeven{
  display: flex;
  margin-bottom: 10em;
}
.boxSeven p{
  margin-top: 8em;
  margin-left: 0%;
}
img.rightImage{
  margin-right: 0%;
}

/*BOX EIGHT*/

.starRating{
  display: flex;
  padding: 50px;
  border-radius: 10px;
  margin: 0%;
  background-color: #dee9f8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10em;
}
.boxEight p{
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 5%;
}

.ratings{
  display: flex;
}
li.name{
  list-style: disc;
  font-style: italic;
  font-size: 22px;
  color: #4F759B;
}
 
/*BOX NINE*/
.boxNine{
  display: flex;
  justify-content: space-between;
}
.box{
  display: flex;
  flex-direction: column;
  border: 0.5px solid #0055CC;
  width: 22%;
  border-radius: 8px;
  margin: 0%;
  margin-bottom: 10em;
}
img.corImg{
  margin-top: 1.6em;
}
.boxTen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
}



/* FOOTER */

.footer{
  display: flex;
  background-color: #00337B;
  width: 100%;
  height: 500px;
  padding-top: 3em;
}

.footer-logo{
  display: block;
  width: 20%;
  padding-left: 5%;
}

.p-class{
  font-weight: 400;
  font-size:16px;
  color: #FFFFFF;
  line-height: 32px;
}
.textField{
  display: flex;
  width: 80%;
  padding-left: 10%;
}
a.a{
  margin: 0%;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: #FFFFFF;
}
.textField p{
  margin: 0%;
}
.text-content{
  margin-top: 3%;
}
.text-content h3{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  line-height: 78px;
  color: #9F9F9F;
}













