<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="style.css">
	<title>Sign Up Form</title>
</head>
<body>
	<header>
        <nav>
            <div class="nav-container">
                <div>
                    <a href="">
                    <img class="logo" src="Primary@3x.png" alt="logo">
                    </a>
                </div>
			
                <div class="registration-buttons">
                    <a href="Sign-In.html"><button id="log-in">Sign In</button></a>
                    <a href="Get-Started.html"><button id="sign-up">Get Started</button></a>
                </div>
            </div>
        </nav>
    </header>

	<div class="container">
		<h2 class="title">Forgot your password?</h2>
		<p>Enter email address to recover password</p>
		<form action="#" class="login active">
			<div class="form-group">
				<label for="email">Email Address</label>
				<div class="input-group">
					<input type="email" id="email" placeholder="Enter email address">
					<i class='bx bx-envelope'></i>
				</div>
			
			<button type="submit" class="btn-submit">Recover Password</button>

		</form>
	</div>

	<script src="script.js"></script>
</body>
</html>