{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen/products and templates/product.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Products Page</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <div class="generate-about-contact">
                    <a href=""><label for="generate">Generate</label></a>
                    <!-- <select for="generate" id="generate">
                        <option value="terms and conditions">Terms and Conditions</option>
                        <option value="privacy policy">Privacy Policy</option>
                        <option value="return and refund">Return and Refund Policy</option>
                    </select> -->
                    <a href="">About us</a>
                    <a href="">Contact us</a>
                </div>
                <div class="registration-buttons">
                    <a href=""><button id="log-in">Log In</button></a>
                    <a href=""><button id="sign-up">Sign Up</button></a>
                </div>
            </div>
        </nav>
    </header>


    <section class="space">
    </section>


    <section class="products">
        <div class="header">
            <h2>Enjoy the free product we offer</h2>
            <p class="subheader">All you need to protect and maintain your business.</p>
        </div>
        <div class="product-cards">
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/t and c icon.png' %}" alt="">
                </div>
                <h3>Terms and Conditions Generator</h3>
                <p>Generate free terms and conditions statement to protect your business</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/privacy policy icon.png' %}" alt="">
                </div>
                <h3>Privacy Policy Generator</h3>
                <p>Generate privacy policy statement for your website at zero cost</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/re and re icon.png' %}" alt="">
                </div>
                <h3>Return and Refund Generator</h3>
                <p>Generate free return and refund policy to use for your e-commerce business</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/disclaimer icon.png' %}" alt="">
                </div>
                <h3>Disclaimer Generator</h3>
                <p>Generate free legal disclaimer statements to use for your business</p>
            </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <p class="policy">Copyright&#169 2022 Termsgen</p>
                <p class="policy">All rights reserved</p>
            </div>
            <div class="footer-products">
                <p class="footer-head">Products</p>
                <ul>
                    <li>Privacy policy generator</li>
                    <li>terms and conditions generator</li>
                    <li>return and refund policy generator</li>
                    <li>Disclaimer generator</li>
                </ul>
            </div>
            <div class="footer-company">
                <p class="footer-head">Company</p>
                <ul>
                    <li>About Us</li>
                    <li>FAQ</li>
                    <li>Privacy policy</li>
                    <li>Terms of use</li>
                    <li>Disclaimer</li>
                    <li>Return policy</li>
                </ul>
            </div>
            <div class="footer-support">
                <p class="footer-head">Support</p>
                <ul>
                    <li>Help and Support</li>
                    <li>Contact us</li>
                    <li>Security FAQs</li>
                    <li>Partners</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>