{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'termsgen/products and templates/product.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="{% static 'termsgen/products and templates/js/product.js' %}"></script>
    <title>Products Page</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img class="logo-image" src="{% static 'termsgen/products and templates/images/Primary@3x.png' %}" alt="">
                    </a>
                </div>
                
                <div class="generate-about-contact">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'products' %}">Generate</a>
                    <a href="{% url 'about_us' %}">About us</a>
                    <a href="{% url 'contact_us' %}">Contact us</a>
                </div>
                <div class="registration-buttons">
                    <button id="log-in">Log In</button>
                    <button id="sign-up">Sign Up</button>
                </div>
            </div>
        </nav>
    </header>


    <section class="space">
    </section>


    <section class="products">
        <div class="header">
            <h2>Enjoy the free product we offer</h2>
            <p class="subheader">All you need to protect and maintain your business.</p>
        </div>
        <div class="product-cards">
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/t and c icon.png' %}" alt="">
                    <a class="product-link" href="">
                        <button class="product-link-btn">Generate</button>
                        Generate 
                        <img src="{% static 'termsgen\products and templates\images\Vectorright arrow.png' %}" alt="">
                    </a>
                </div>
                <h3>Terms and Conditions Generator</h3>
                <p>Generate free terms and conditions statement to protect your business</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/privacy policy icon.png' %}" alt="">
                    <a class="product-link" href="">
                        Generate 
                        <img src="{% static 'termsgen\products and templates\images\Vectorright arrow.png' %}" alt="">
                    </a>
                </div>
                <h3>Privacy Policy Generator</h3>
                <p>Generate privacy policy statement for your website at zero cost</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/re and re icon.png' %}" alt="">
                    <a class="product-link" href="">
                        Generate 
                        <img src="{% static 'termsgen\products and templates\images\Vectorright arrow.png' %}" alt="">
                    </a>
                </div>
                <h3>Return and Refund Generator</h3>
                <p>Generate free return and refund policy to use for your e-commerce business</p>
            </div>
            <div class="product">
                <div class="product-img-div">
                    <img src="{% static 'termsgen/products and templates/images/disclaimer icon.png' %}" alt="">
                    <a class="product-link" href="">
                        Generate 
                        <img src="{% static 'termsgen\products and templates\images\Vectorright arrow.png' %}" alt="">
                    </a>                    
                </div>
                <h3>Disclaimer Generator</h3>
                <p>Generate free legal disclaimer statements to use for your business</p>
            </div>
            </div>
        </div>

        <div class="modal">
            <div class="content">
                <div class="topic">
                    Privacy Policy
                </div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est a nobis nesciunt 
                    nihil cupiditate animi nam totam dolore hic qui rem suscipit, corporis nemo, 
                    natus voluptas delectus voluptatibus nostrum porro iure maxime esse assumenda 
                    neque! Sit quod error impedit, recusandae soluta nemo quaerat ratione. Labore 
                    quis dolorem ut omnis maiores! <br><br>
                    
                    Ad recusandae explicabo at tempora doloribus 
                    itaque repudiandae quos earum commodi laborum rem repellat, voluptatem soluta 
                    saepe vero voluptate incidunt exercitationem nisi reprehenderit cupiditate eaque 
                    consectetur? Rerum quisquam harum, sint similique illum hic possimus blanditiis 
                    voluptatum culpa officiis nobis ad nisi eum impedit velit dolores libero dolor 
                    voluptatibus repudiandae labore.<br><br>
    
                    Ad recusandae explicabo at tempora doloribus 
                    itaque repudiandae quos earum commodi laborum rem repellat, voluptatem soluta 
                    saepe vero voluptate incidunt exercitationem nisi reprehenderit cupiditate eaque 
                    consectetur? Rerum quisquam harum, sint similique illum hic possimus blanditiis 
                    voluptatum culpa officiis nobis ad nisi eum impedit velit dolores libero dolor 
                    voluptatibus repudiandae labore.<br><br>
    
                    Ad recusandae explicabo at tempora doloribus 
                    itaque repudiandae quos earum commodi laborum rem repellat, voluptatem soluta 
                    saepe vero voluptate incidunt exercitationem nisi reprehenderit cupiditate eaque 
                    consectetur? Rerum quisquam harum, sint similique illum hic possimus blanditiis 
                    voluptatum culpa officiis nobis ad nisi eum impedit velit dolores libero dolor 
                    voluptatibus repudiandae labore.<br><br>
                </div>
            </div>
            <div class="modal-button">
                <button class="m-button">Customize your policy</button>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <div>
                    <img src="{% static 'termsgen\products and templates\images\FavIcon secondary@3x.png' %}" alt="">
                </div>
                <p class="policy">Copyright&#169 2022 Termsgen <br>All rights reserved</p>
            </div>
            <div class="footer-products">
                <p class="footer-head">Products</p>
                <ul>
                    <li>Privacy policy generator</li>
                    <li>terms and conditions generator</li>
                    <li>return and refund policy generator</li>
                    <li>Disclaimer generator</li>
                </ul>
            </div>
            <div class="footer-company">
                <p class="footer-head">Company</p>
                <ul>
                    <li>About Us</li>
                    <li>FAQ</li>
                    <li>Privacy policy</li>
                    <li>Terms of use</li>
                    <li>Disclaimer</li>
                    <li>Return policy</li>
                </ul>
            </div>
            <div class="footer-support">
                <p class="footer-head">Support</p>
                <ul>
                    <li>Help and Support</li>
                    <li>Contact us</li>
                    <li>Security FAQs</li>
                    <li>Partners</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>