*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 1512px;
    height: 1241px;
    background: #F9F6EE;

}

.sticky-el{
    display: flex;
}

.side-bar{
    width: 171px;
    height: 960px;
    background-color: #00337B;
    box-shadow: 0px 0px 10px 2px rgb(10px, 10px, 10px);
    justify-content: center;
    text-align: center;
    align-content: center;
    position: -webkit-sticky;
    position: sticky;
    color: white;
    grid-area: side-bar;

}

.side-bar ul li{
    list-style: none;
}

.side-bar ul li a{
    font-size: 16px;
}

.logo{
    cursor: pointer;
    margin-top: 32px;
}

.side-bar ul{
    margin: 174px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

ul :nth-child(1) button{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: white;
    color: #00337B; 
}

ul :nth-last-of-type(2) button{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color:#00337B;
    color: white;
    border: 1px solid;
}

ul :nth-last-of-type(3) button{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color:#00337B;
    color: white;
    border: 1px solid;
}

ul :nth-of-type(4) button{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color:#00337B;
    color: white;
    border: 1px solid;
}

.vert{
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    width: 32px;
    margin: 24px 40%;  
}

.navbar{
    width: 1340px;
    top: 0;
    z-index: 999;
    font-size: 24px;
    height: 96px; 
    background-color: #E9EFF8;
    align-items: center;
    justify-content: center;
    position: sticky;

}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 96px;
    z-index: 1;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 157px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.navbar-links select:hover{
    color: white;
}

.navbar-links option{
    color: #333;
}

.navbar-links:hover{
    color: white;
    /* opacity: 100;  */
    transition: all 0.3s ease;
    /* z-index: -1; */
    background: #00337B; 
    padding: 8px 16px;
}

.user{
    display: flex;
    align-items: center; 
    font-size: 16px;   
}

#avatar{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
}

.user p:hover{
    cursor: pointer;
    color: #195FEA;
    transition: all 0.5s ease;
}

@media screen and (max-width: 960) {

    
}

.page .content-area{
    position: relative;
    width: 100%;
    padding-left: 193px;
    padding-top: 32px;
    margin-top: -892px;
    justify-content: space-between;
}

.page .content-area .title{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 16px;
}

.page .content-area .title button{
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid #195FEA;
    color: #195FEA;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.page .content-area .title button:hover{
    background: #195FEA;
    transition: all 0.5s ease;
    color: white;
}

.page .content-area button{
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid;
    color: white;
    background-color: #2B80F7;
    cursor: pointer;
    position: relative;
    /* margin-left: 0%; */
}

.page .content-area button:hover{
    background: #195FEA;
    transition: all 0.5s ease;
    color: white;
}

.page-content{
    padding-top: 41px;
}

.page-content .row{
    padding-top: 72px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.row{
    margin-bottom: 72px;
}

.col-1 .row1 p{
    margin-bottom: 24px;
}

.col-1 .row1 .title{
    display: flex;
}

.col-1 .row1 .app, .col-2 .row2 .business{
    display: flex;
    margin-bottom: 16px;
    width: 579px;
    height: 85px;
    border: 0.5px #333;
    border-radius: 8px;
}

.col-1 .row1 .website, .col-2 .row2 .business{
    padding-bottom: 72px;
}

.col-1 .row1 .app, .col-2 .row2 .individual{
    display: flex;
    margin-bottom: 16px;
    width: 579px;
    height: 85px;
    border: 0.5px #333;
    border-radius: 8px;
}

.col-2 .row1{
    margin-bottom: 72px;
}

.col-2 .row2 .title{
    display: flex;
}

.row2 p{
    margin-bottom: 24px;
}


/* additional information page css is here*/
.additionalinfo .content-area{
    position: relative;
    width: 100%;
    padding-left: 193px;
    padding-top: 32px;
    margin-top: -1416px;
    justify-content: space-between;
}

.additionalinfo .content-area .title{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 16px;
    /* border-bottom: 1px solid; */
}

.additionalinfo .content-area .title button{
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid #195FEA;
    color: #195FEA;
    background-color: white;
    cursor: pointer;
    position: relative;
    /* margin-left: 20%; */
}

.additionalinfo .content-area .title button:hover{
    background: #195FEA;
    transition: all 0.5s ease;
    color: white;
}

.content{
    padding-top: 41px;
}

.content h3{
    padding-bottom: 34px;
}

.column{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.Q2, .Q3, .Q4{
    margin-top: 44px;
} 

.Q1 > p, .Q2 > p, .Q3 > p, .Q4 > p{
    font-size: 24px;
}

.additionalinfo-btn{
    margin-top: 132px;
    position: relative;
    justify-content: space-between;
}

.additionalinfo-btn span button{
    
    margin-right: 78%;
    background-color: white;
    border: 1px solid #0055CC;
    border-radius: 8px;
    padding: 18px 32px;
}

.additionalinfo-btn button{
    background-color: #0055CC;
    color: white;
    border-radius: 8px;
    padding: 18px 32px;
    cursor: pointer;
}

.additionalinfo-btn span button:hover{
    
    margin-right: 78%;
    background-color: white;
    border: 1px solid #0055CC;
    border-radius: 8px;
    padding: 18px 32px;
    transition: all 02 ease;
}

.additionalinfo-btn button:hover{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 18px 32px;
    cursor: pointer;
    transition: all 0.2 ease;
}

/*Security page css is here */
.security .content-area{
    position: relative;
    width: 100%;
    padding-left: 193px;
    padding-top: 32px;
    margin-top: -1416px;
    justify-content: space-between;
}

.security .content-area .title{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 16px;
    /* border-bottom: 1px solid; */
}

.security .content-area .title button{
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid #195FEA;
    color: #195FEA;
    background-color: white;
    cursor: pointer;
    position: relative;
    /* margin-left: 20%; */
}

.security .content-area .title button:hover{
    background: #195FEA;
    transition: all 0.5s ease;
    color: white;
}

.content{
    padding-top: 41px;
}

.content h3{
    padding-bottom: 34px;
}

.column{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.Q2, .Q3, .Q4{
    margin-top: 44px;
} 

.Q1 > p, .Q2 > p, .Q3 > p, .Q4 > p{
    font-size: 24px;
}

.security-btn{
    margin-top: 132px;
    position: relative;
    justify-content: space-between;
}

.security-btn span button{
    
    margin-right: 78%;
    background-color: white;
    border: 1px solid #0055CC;
    border-radius: 8px;
    padding: 18px 32px;
}

.security-btn button{
    background-color: #0055CC;
    color: white;
    border-radius: 8px;
    padding: 18px 32px;
    cursor: pointer;
}

.security-btn span button:hover{
    
    margin-right: 78%;
    background-color: white;
    border: 1px solid #0055CC;
    border-radius: 8px;
    padding: 18px 32px;
    transition: all 02 ease;
}

.security-btn button:hover{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 18px 32px;
    cursor: pointer;
    transition: all 0.2 ease;
}

/* Preview document css is here */
.progress-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px ;
}

.progress-bar ul .first , .second .third .fourth {

    justify-content: center;
    align-items: center;
    
}

.progress-bar ul p{
    font-size: 16px;
    position: relative;

}

.progress-bar ul li{
    display: flex;
    list-style: none;

    align-items: center;
}

.progress-bar ul li a{
    font-size: 24px;
    color: white;
    background-color: #00337B;
    border: 1px solid;
    border-radius: 100%;
    padding: 4px 16px;
    text-decoration: none ;
    position: relative;
} 

.horizontal {
    width: 160px;
}

.the-document{
    justify-content: center; 
    align-items:center; 
    position:relative; 
    padding-left: 38%;
    margin-top: 96px;
}

.doc{
    margin-top: 97px;
}

.select-option{
    width: 650px;
    margin-top: 89px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -14%;
}

.select-option select{
    text-align: center; 
    position:relative; 
    margin-left: 28%; 
    margin-top: 64px; 
    background: none; 
    border-radius: 8px; 
    padding: 10px 32px; 
    font-size: 24px;
    width: 280px; 
}

.the-document button{
    padding: 8px 32px;
    border-radius: 8px;
    border: 1px solid
}

.span-btn{
    position: relative;
    padding-left: 5%;
}
