{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'termsgen/landing page/style.css' %}">
</head>
<body>
<section>
    <div class="hero-container">
    <nav>
        <div id="nav-container">
        <div class="logo">
        <img id="white-logo" src="{% static 'termsgen/landing page/Images/Primary@3x.png' %}" alt="LOGO"></div>
        <div class="nav-links">
            <ul>
                <li ><a class="nav-text" href="{% url 'home' %}">Home</a></li>
                <li ><a class="nav-text" href="{% url 'products' %}">Generate</a></li>         
                <li ><a class="nav-text" href="{% url 'about_us' %}">About us</a></li>
                <li><a class="nav-text"href="{% url 'contact_us' %}">Contact us</a></li>
            </ul>
        </div>
        
   
        <div class="action-button">
            <a href="#"><button id="login">Log in</button></a>
            <a href="#"><button id="sign-up">Sign Up</button></a>
        </div>
        </div>
    </nav>
 
    <main>
    
        <div id="layer1">
            <div class="intro">
                <h3> #1 Free Terms And Conditions Generator</h3>
                <p>Generate free, tailor-made and 
                    attorney-drafted privacy policies 
                    and terms and conditions to help 
                    protect your business and 
                    stay on the right side of the law.</p>
                <a href="#"><button id="start-btn">Get Started</button></a>
            </div>
            <div class="intro-img">
                <img id="image1" src="{% static 'termsgen/landing page/Images/Group 1 (1).jpg' %}" alt="image">
            </div>
        </div>
        </div>

        <div id="layer2">
            <h3>What We Offer </h3>
            <div class="boxes">
                <div id="box1">
                    <div id="top-box">
                        <img id="icons" src="{% static 'termsgen/landing page/Images/privacy-icon.png' %}" alt="">
                        <p><a href="">Privacy Policy</a></p>
                    </div>
                    <div id="offer-text">
                        <p>Legal agreement about the 
                            information you may collect from a user.
                        </p>
                    </div>
                </div>
                <div id="box2">
                    <div id="top-box">
                        <img id="icons" src="{% static 'termsgen/landing page/Images/terms-icon.png' %}" alt="">
                        <p><a href="">Terms And Conditions</a></p>
                    </div>
                    <div id="offer-text">
                        <p>Legal agreement about the 
                            information you may collect from a user.</p>
                    </div>
                </div>
            </div>
            <div class="box2-layer">
                <div id="box3">
                    <div id="top-box">
                        <img id="icons" src="{% static 'termsgen/landing page/Images/disclaimer-icon.png' %}" alt="">
                        <p><a href="">Disclaimer</a></p>
                    </div>
                    <div id="offer-text">
                        <p>Legal agreement about the 
                        information you may collect from a user.
                        </p>
                    </div>
                </div>
                <div id="box4">
                    <div id="top-box">
                        <img id="icons" src="{% static 'termsgen/landing page/Images/refund-icon.png' %}" alt="">
                        <p><a href="">Refund And Return Policy</a></p>
                    </div>
                    <div id="offer-text">
                        <p>Legal agreement about the 
                            information you may collect from a user.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="layer3">
            <h3>How it works</h3>
            <div class="cards">
                <div id="top1">
                    <div class="left-box">
                        <img src="{% static 'termsgen/landing page/Images/pana.png' %}" alt="">
                    </div>
                    <div class="right-box">
                        <h6>Refund And Return Policy</h3>
                        <p>Legal agreement about the 
                            information you may collect from a user.
                        </p>
                    </div>
                </div>

                <div id="top2">
                    <div class="right-box2">
                        <h6>Refund And Return Policy</h3>
                        <p>Legal agreement about the 
                            information you may collect from a user.</p>
                    </div>
                        <div class="left-box2">
                            <img src="{% static 'termsgen/landing page/Images/Group 2 (1).jpg' %}" alt="">
                        </div>
                    </div>

                <div id="top3">
                    <div class="left-box">
                        <img src="{% static 'termsgen/landing page/Images/Group 4.jpg' %}" alt="">
                    </div>
                        <div class="right-box">
                            <h6>Refund And Return Policy</h3>
                            <p>Legal agreement about the 
                                information you may collect from a user.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        

        <div id="layer4">
            <h3>Testimonials</h3>
                <div id="box">
                    <div class="text1"><p>Termsgen is the best
                        terms and conditions 
                        generator I’ve used.
                        I got 99% satisfaction.<br><strong>
                        _ Comfort</strong></p>
                        <img src="{% static 'termsgen/landing page/Images/Line 1.png' %}" alt="">
                    </div>
                    <div class="text2"><p style="margin-left: 20px;">The site is super fast 
                        and easy to use. I got 
                        my policy generated 
                        in a couple of minutes.<br><strong>
                        _ Cici</strong></p>
                        <img src="{% static 'termsgen/landing page/Images/Line 1.png' %}" alt="">
                    </div>
                    <div class="text3"><p style="margin-left: -20px;">The site is super fast 
                        and easy to use. I got 
                        my policy generated 
                        in a couple of minutes.<br><strong>_ Ben</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="layer5">
            <h6> Our Benefits</h6>
            <div class="lay5-boxes">
                <div id="b-box1">
                    <div id="lay5-img">
                        <img src="{% static 'termsgen/landing page/Images/Vector (2).png' %}" alt="Image">
                    </div>
                    <p>Our attorneys have a combinned practice experience of 50+ Years. 
                        No amateur here.</p>
                </div>
                <div id="b-box2">
                    <div id="lay5-img">
                        <img src="{% static 'termsgen/landing page/Images/card-slash.png' %}" alt="Image">
                    </div>
                    <p>Our Policies are completely free to use. No hidden charges.</p>
                </div>
                <div id="b-box3">
                    <div id="lay5-img">
                        <img src="{% static 'termsgen/landing page/Images/card-slash.png' %}" alt="Image">
                    </div>
                    <p>You can customize your policies to your specific needs. No generic stuff.</p>
                </div>
                <div id="b-box4">
                    <div id="lay5-img">
                        <img src="{% static 'termsgen/landing page/Images/export.png' %}" alt="Image">
                    </div>
                    <p>Export your policies in any format of your choice. No holding back.</p>
                </div>
            </div>
            <div class="cta-div">
                <div id="cta"> 
                    Ready to generate your policy?
                    <div id="cta-btn">
                        <a href=""><button id="start-btn">Get Started</button></a>
                    </div>
                </div>
            </div>
         </div>
    </main>

    <footer>
        <div class="f-boxes">
        <div id="logo">
            <img src="{% static 'termsgen/landing page/Images/Group 5.jpg' %}" alt="LOGO">
            <p>Copyright &copy; 2022 Termsgen <br>All rights reserved.</p>
        </div>
        <div class="f-box">
        <div id="f-box1">
            <p>Products</p>
            <ul>
                <li><a href="#">Privacy policy generator</a></li>
                <li><a href="#">Terms and conditions generator</a></li>
                <li><a href="#">Return and refund policy generator</a></li>
                <li><a href="#">Disclaimer generator</a></li>
        </div>
        <div id="f-box2">
            <p>Company</p>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Refund policy</a></li>
        </div>
        <div id="f-box3">
            <p>Support</p>
            <ul>
                <li><a href="#">Help and support</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Security FAQs</a></li>
                <li><a href="#">Partners</a></li>
            </ul>
        </div>
        </div>
     
    </footer>
    
</section>

</body>
</html>
