{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'termsgen/landing page/style.css' %}">
    </head>

    <body>
                <nav>
                    <div id="nav-container">
                        <div class="logo">
                            <img id="white-logo" src="{% static 'termsgen/landing page/Images/termsgen-logo.png' %}" alt="LOGO">
                        </div>
                        <div id="nav-links">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <div class="dropdown">
                                    <li><a id="dropdown-btn" href="{% url 'products' %}">Generate</a></li>
                                </div>
                                <li><a href="{% url 'about_us' %}">About us</a></li>
                                <li><a href="{% url 'contact_us' %}">Contact us</a></li>

                            </ul>
                        </div>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </a>

                        <div class="action-button">
                            <a href="#"><button id="login">Log in</button></a>
                            <a href="#"><button id="sign-up">Sign up</button></a>
                        </div>
                    </div>
                </nav>
                <main>
                    <div class="boxOne"">
                        <div class="intro">
                            <span>Free Terms And <br> Conditions Generator</span>
                            <p>Generate free, tailor-made and
                                attorney-drafted privacy<br> policies
                                and terms and conditions to help
                                protect your<br> business and
                                stay on the right side of the law.
                            </p>
                            <button class="btn">Get started</button>
                        </div>
                        <img class="infoImage" src="{% static 'termsgen/landing page/Images/intro-img.png' %}" alt="image">
                    </div>

                    <h3 class="boxOffer">What We Offer</h3>

                    <div class="boxTwo">
                        <div class="legalInformation">
                            <div class="legalDocs">
                                <img class="legalImage" src="{% static 'termsgen/landing page/Images/privacy-icon.png' %}" alt="logo">
                                <h2>Privacy Policy</h2>
                            </div>
                            <p>Legal agreement about the<br> information you may collect from a user.</p>
                        </div>
                        <div class="legalInformationTwo">
                            <div class="legalDocx">
                                <img class="legalDocxImage" src="{% static 'termsgen/landing page/Images/terms-icon.png' %}" alt="logo">
                                <h2>Terms And<br>Conditions</h2>
                            </div>
                            <p>Legal agreement between<br> your service and a user.</p>
                        </div>
                    </div>
                    <div class="boxThree">
                        <div class="legalInformationThree">
                            <div class="legalDocs">
                                <img class="legalImage" src="{% static 'termsgen/landing page/Images/disclaimer-icon.png' %}" alt="logo">
                                <h2>Disclaimer</h2>
                            </div>
                            <p>Legal agreement that states the liability <br>
                                that falls outside the terms 
                               and conditions <br> agreement between your service and a user.
                            </p>
                        </div>
                        
                        <div class="legalInformationTwo">
                            <div class="legalDocx">
                                <img class="legalDocxImage"  src="{% static 'termsgen/landing page/Images/refund-icon.png' %}" alt="logo">
                                <h2>Return And <br> Refund Policy</h2>
                            </div>
                            <p>Legal agreement that states the condition in <br>
                                which a user can get a refund or return a<br> product.
                            </p>
                        </div>
                    </div>

                    <h3 class="boxOffer">How It Works</h3>
                    
                    <div class="boxSix">
                        <img class="leftImage" src="{% static 'termsgen/landing page/Images/first.svg' %}" alt="logo">
                        <p>Create a TermsGen account in 30 seconds.</p>
                    </div>
                    <div class="boxSeven">
                        <p>Click on the document you want to generate.</p>
                        <img class="rightImage" src="{% static 'termsgen/landing page/Images/second.svg'%} alt="logo">
                    </div>
                    <div class="boxSix">
                        <img class="leftImage" src="{% static 'termsgen/landing page/Images/thirdImage.svg'%} alt="logo">
                        <p>Tailor the policy to your needs by supplying<br>some basic information.</p>
                    </div>
                    <div class="boxSeven">
                        <p>Generate and export your policy in PDF, HTML <br> link.</p>
                        <img class="rightImage" src="{% static 'termsgen/landing page/Images/fourthImage.svg'%} alt="logo">
                    </div>

                    <h3 class="boxOffer">Testimonials</h3>

                    <div class="starRating">
                        <div class="boxEight">
                            <div class="ratings">
                                <img src="{% static 'termsgen/landing page/Images/c.svg' %} alt="logo">
                                <img src="{% static 'termsgen/landing page/Images/stars.svg' %} alt="logo">
                            </div>
                            <p>Termsgen is the best<br>
                                terms and conditions <br>
                                generator I've used.<br>
                                I got 99% satisfaction.<br>
                            </p>
                            <li class="name">Comfort</li>
                        </div>
                        <div class="line">
                            <img src="{% static 'termsgen/landing page/Images/line.svg' %}alt="">
                        </div>
                        <div class="boxEight">
                            <div class="ratings">
                                <img src="{% static 'termsgen/landing page/Images/b.svg'%} alt="">
                                <img src="{% static 'termsgen/landing page/Images/stars.svg' %} alt="logo">
                            </div>
                            <p>The site is super fast <br> 
                                and easy to use. I got <br>
                                my policy generated <br>
                                in a couple of minutes.<br>
                            </p>
                            <li class="name">Ben</li>
                        </div>
                        <div class="line">
                            <img src="{% static 'termsgen/landing page/Images/line.svg' %} alt="">
                        </div>
                        <div class="boxEight">
                            <div class="ratings">
                                <img src="{% static 'termsgen/landing page/Images/m.svg' %} alt="">
                                <img src="{% static 'termsgen/landing page/Images/stars.svg' %} alt="logo">
                            </div>
                            <p>The 24/7 customer <br>
                                support opened channel <br>
                                of communication is <br>
                                thrilling. They're reliable <br>
                            </p>
                            <li class="name">Mellissa</li>
                        </div>
                    </div>

                    <h3 class="boxOffer">Our Benefits</h3>

                    <div class="boxNine">
                        <div class="box">
                            <img class="corImg" src="{% static 'termsgen/landing page/Images/one.svg' %} alt="logo">
                            <p>
                                Our attorneys have a <br> 
                                combined practice <br>
                                  experience of 50+ <br>
                                Years. No amateur <br>
                                   here.
                            </p>
                        </div>
                        <div class="box">
                            <img src="{% static 'termsgen/landing page/Images/two.svg' %} alt="logo">
                            <p>You can customize <br>
                                your policies to your <br> 
                                specific needs.No<br> generic stuff.
                            </p>

                        </div>
                        <div class="box">
                            <img src="{% static 'termsgen/landing page/Images/third.svg' %} alt="logo">
                            <p>
                                Our Policies are <br>
                                completely free to <br>
                                use. No hidden <br> 
                                charges.
                            </p>

                        </div>
                        <div class="box">
                            <img src="{% static 'termsgen/landing page/Images/four.svg' %} alt="logo">
                            <p>
                                Export your policies in<br>
                                any format of your <br>
                                choice. No holding <br>
                                back.
                            </p>
                        </div>
                    </div>
                    <div class="boxTen">
                        <p class="generatePolicy">Ready to generate your policies?</p>
                        <button class="btn">Get started</button>
                    </div>
                </main>    
                    <div class="footer">
                        <div class="footer-logo">
                            <img class="favicon" src="{% static 'termsgen/landing page/Images/favicon.svg' %} alt="favicon">
                            <p class="p-class">Copyright © 2022 Termsgen.<br>All rights reserved.</p>
                        </div>
                        <div class="textField">
                            <div class="text-content">
                                <h3>Products</h3>
                                <div class="textfield">
                                    <li><a class="a" href="#">Privacy policy generator</a></li>
                                    <li><a class="a" href="#">Terms and conditions generator</a></li>
                                    <li><a class="a" href="#">Return and refund policy generator</a></li>
                                    <li><a class="a" href="#">Disclaimer generator</a></li>
                                </div>
                            </div>
                            <div class="text-content">
                                <h3>Company</h3>
                                <div class="textfield">
                                    <li><a class="a" href="#">About us</a></li>
                                    <li><a class="a" href="#">FAQs</a></li>
                                    <li><a class="a" href="#">Privacy policy</a></li>
                                    <li><a class="a" href="#">Terms of use</a></li>
                                    <li><a class="a" href="#">Disclaimer</a></li>
                                    <li><a class="a" href="#">Refund policy</a></li>
                                </div>
                            </div>
                            <div class="text-content">
                                <h3>Support</h3>
                                <div class="textfield">
                                    <li><a class="a" href="#">Help and support</a></li>
                                    <li><a class="a" href="#">Contact us</a></li>
                                    <li><a class="a" href="#">Security FAQs</a></li>
                                    <li><a class="a" href="#">Partners</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    


    </body>

</html>
